<div style="line-height:0.5">
<h1 style="color:darkorange"> Python tips 1 </h1>
<span style="display: inline-block;">
    <h3 style="color: lightblue; display: inline;">Keywords:</h3> math + global vars + random + bytes
</span>
</div>

In [1]:
import math
import random
import string
import numpy as np
from contextlib import redirect_stdout

<h3 style="color:darkorange"> Variables </h3>

In [2]:
# Booleans
t = True
f = False
t,f

(True, False)

In [3]:
age = 18
can_vote = (age >= 18) 
can_vote

True

In [4]:
x = 42
print(type(x))
print(id(x))
print(isinstance(x, int))

<class 'int'>
140079305115152
True

In [5]:
x = 42
y = "hello"

In [6]:
%%script echo Skipping
print(locals())  
# {'__name__': '__main__', '__doc__': 'Automatically created module for IPython interactive environment', '__package__': None, '__loader__': None, '__spec__': None, '__builtin__': <module 'builtins' (built-in)>, '__builtins__': <module 'builtins' ...........

Skipping

In [6]:
global a
a = 10
def fun():
    print(a)
fun()

10

In [7]:
def fun():
    global gdfds
    gdfds = 10
    print(gdfds)

fun()
gdfds

10

10

In [8]:
co = 10
def inc():
    global co
    co += 1

inc()
co

11

In [9]:
""" Global vars and redirect output. """
def ff():
    global bar 
    global finished
    if not finished:
        bar +=1
        return bar 
    if finished:
        with open('./data/the_output_is_printed_here.txt', 'w') as f:
            with redirect_stdout(f):
                print(bar)
        return 1

finished = 1
bar = 10
res =  ff()
res

1

<h3 style="color:darkorange"> Data Types </h3>

In [10]:
a = 51.3
b = int(a)
k = float(b)
c = complex(b,k)
print(type(c))
c

<class 'complex'>

(51+51j)

In [11]:
boole = b < k
print(type(boole))
boole

<class 'bool'>

False

In [12]:
pers = {"name": "Hector", "age": 30} 
type(pers)

dict

In [13]:
goals = ("header", "penalty", "volley")  
type(goals)

tuple

In [14]:
isinstance(goals, list), isinstance(goals, tuple)

(False, True)

In [15]:
type(str(1))

str

In [16]:
type([99, 105, 97, 111])

list

In [17]:
mix_lis = ['3231',44, 32, 'b\'ewq',1.332, np.exp(2)]
element_types = list(type(x) for x in mix_lis)
unique_types = set(type(x) for x in mix_lis)
element_types, unique_types

([str, int, int, str, float, numpy.float64], {float, int, numpy.float64, str})

In [18]:
st = bytes([ord(c) for c in "ciao"])
st

b'ciao'

In [19]:
by_st1 = b'ciao'
by_st2 = "ciao".encode()

## Define two constructors for bytes() 
by_li1 = bytes([99, 105, 97, 111])
by_st3 = bytes([ord(c) for c in "ciao"])

type(by_st1),type(by_st2), type(by_li1), type(by_st3)

(bytes, bytes, bytes, bytes)

In [20]:
""" Converting a bytearray to bytes """
arr = bytearray(b'ciao')
st = bytes(arr)
st, type(st)

(b'ciao', bytes)

In [21]:
# Encode unicode escape
strr = b'ciao'
addt = '\n'.encode('unicode_escape')

print("type ot strr '{}' is {}".format(strr, type(strr)))
print("type ot addt '{}' is {}".format(addt, type(addt)))

sttr_addt = strr + addt 
print(sttr_addt)

type ot strr 'b'ciao'' is <class 'bytes'>
type ot addt 'b'\\n'' is <class 'bytes'>
b'ciao\\n'

<h3 style="color:darkorange"> Boolean logic </h3>

In [22]:
x, y, z = 4, 8, 16
result = (x < y) and (z > x) 
result

True

In [23]:
# Negating bools
is_admin = False
not_admin = not is_admin
not_admin

True

In [24]:
is_friend = True
can_message = is_friend

In [25]:
if can_message:
    print("Sending message")

Sending message

In [26]:
friends = ['a','b','c']
name = "b"
is_friend = (name in friends) 
is_friend

True

 <h3 style="color:darkorange"> Functions </h3>

In [27]:
def my_square(x):
  return x * x
my_square(25)

625

In [28]:
def a_log(message, type='info'):
    print(type + ": " + message)

a_log("System starting") 
a_log("Error!", 'error')

info: System starting
error: Error!

In [29]:
# Nested 
def addi(x, y):
    return x + y
def oper(x, y):
    return addi(x * 3, y + 5) 
oper(2, 4)

15

<h3 style="color:darkorange"> Built-in functions </h3>

In [30]:
# Object's memory address
id(object)

7624704

In [31]:
arra = [13, 2.2, '3', 4]
len(arra)

4

In [32]:
sum([1, 2, 3, 4])

10

In [33]:
any([False, False, True])

True

In [34]:
all([True, 1, -2])

True

In [35]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [36]:
a = abs(3.14159)
r = round(3.14159) 
a,r

(3.14159, 3)

In [37]:
# Quotient and remainder
divmod(11, 3)

(3, 2)

In [38]:
pow(9, 3)

729

In [39]:
tuple([743.2, 32.2, 96.3])

(743.2, 32.2, 96.3)

In [40]:
for i, v in enumerate(['uno', 'dos', 'tres']):
    print(i, v)

0 uno
1 dos
2 tres

In [41]:
sorted([3, 1, 2])

[1, 2, 3]

In [42]:
# Check if callable
callable(len)

True

In [43]:
class Spacecraft:
    def __init__(self, name, max_speed):
        self.name = name
        self.max_speed = max_speed

    def launch(self):
        print(f"{self.name} launching into space!")

class StarSkimmer(Spacecraft):
    def __init__(self, name):
        super().__init__(name, max_speed=15)
    
    def ram_speed(self):
        print(f"{self.name} engaging warp drive at {self.max_speed}!")

class MoonHopper(Spacecraft):
    def __init__(self, name):
        super().__init__(name, max_speed=5)

    def land(self):
        print(f"{self.name} touching down on the moon!") 

skimmer = StarSkimmer("Quasar SR-71")
skimmer.launch()
skimmer.ram_speed()

hopper = MoonHopper("Selene EZ-1") 
hopper.launch()
hopper.land()

Quasar SR-71 launching into space!
Quasar SR-71 engaging warp drive at 15!
Selene EZ-1 launching into space!
Selene EZ-1 touching down on the moon!

In [44]:
print(getattr(hopper, 'name'))
print(hasattr(skimmer, 'land') )
print(repr(skimmer))

Selene EZ-1
False
<__main__.StarSkimmer object at 0x7fe55035f910>

In [45]:
eval('1 + 2')

3

In [46]:
""" Zip """
list(zip([1, 2], [3, 4]))

[(1, 3), (2, 4)]

In [47]:
""" chr() 
Returns character string from an integer Unicode code point. """
chr(97)

'a'

In [48]:
""" ord() => the inverse of chr().
It returns the integer Unicode code point value of a single character string. 
N.B.1
- It only works on single character strings, not multiple character strings.
- The return value corresponds to the Unicode standard, which defines numeric code values for each character.
N.B.2
- ASCII characters have code values [0-127]
- ASCII letters a-z have code values [97-122]
- Numeric characters 0-9 have code values [48-57]
"""
o1 = ord('3')
o2 = ord('w')
o3 = ord('q')
o4 = ord('r')
o5 = ord('!')
o1, o2, o3, o4, o5

(51, 119, 113, 114, 33)

<h3 style="color:darkorange"> Comparisons </h3>

In [49]:
x, y = 10, 20

res1 = x == y
res2 = x != y
res3 = x > y
res4 = x < y
res5 = x >= y
res6 = x <= y

res1, res2, res3, res4, res5, res6

(False, True, False, True, False, True)

In [50]:
1 < x < 10

False

In [51]:
0 < x < 5 < y < 10

False

In [52]:
name1 = "Gianluca"
name2 = "Ezio"

name1 == name2, name1 < name2

(False, False)

In [53]:
[1, 2] == [1, 2]

True

In [54]:
[1, 2] < [2, 1]

True

In [55]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 2, 'a': 1} 

dict1 == dict2

True

In [56]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person('First', 30)
p2 = Person('Second', 25)

p1.age > p2.age

True

<h3 style="color:darkorange"> Control flow </h3>

In [57]:
x = 3
if x > 5:
    print("x is greater than 5")
else:
    print("x is less than or equal to 5")

x is less than or equal to 5

In [58]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [59]:
for i in range(6):
    if i==4:
        print(i)

4

In [60]:
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [61]:
x = 15
if x > 10:
    if x < 20:
        print("x is between 10 and 20")

x is between 10 and 20

<div style="line-height:0.5">
<h3 style="color:darkorange"> Math </h3>
Follows PEMDAS order!
</div>

In [62]:
""" Exponent """
a = 2 ** 3
b = 5 ** 3
c = 12 ** 2
d = a ** 4
e = 1 ** b
a,b,c,d,e

(8, 125, 144, 4096, 1)

In [63]:
a = 2 ** 2
a = a ** 3
a

64

In [64]:
""" Floor division (always rounds towards zero) """
a = 10 / 4
b = 10 // 4
c = -10 // -4
# With (one) negative divider or divisor (that is is not divisible!) the result is still rounded towards zero 
d = 10 // -4
e = -10 // 4
# While if the num is a proper divider it just works as std division
f = 10 // -5

a, b, c, d, e, f

(2.5, 2, 2, -3, -3, -2)

In [65]:
16 % 12

4

In [66]:
""" Modulo """

a = 32 % 2 
b = 33 % 4
c = 10 % 3
d = 16 % 12
e = 413 % 7
f = 4 % 5
g = 4 % 55353
a,b,c,d,e,f,g

(0, 1, 1, 4, 0, 4, 4)

In [67]:
a = 3 * 2 // 6 
b = 6 // 3 * 2
a,b

(1, 4)

In [68]:
op = 4 + 6 // 3 * 2 + 1 % 2 + 1 * 2 / 2
op

10.0

In [69]:
m1 = max(1,2,3)
m2 = min(-1,0,1)
m1,m2

(3, -1)

<h4 style="color:darkorange"> => Bitwise operators </h4>

In [70]:
#  bitwise NOT

#543 in binary is 000000101000111
#Taking the bitwise NOT with ~ flips all the bits: 1111110111001000
#This evaluates to -544 in decimal

a = ~543
b = ~177
c = ~3 
a, b, c

(-544, -178, -4)

In [71]:
#  bitwise AND
a = 2 & 33
b = 43 & -13
c = 35 & 32
a, b, c

(0, 35, 32)

In [72]:
# bitwise OR
a = 34 | 23
b = 43 | 765
c = 52 | 2
a, b, c

(55, 767, 54)

In [73]:
# XOR
a = 24 ^ 1
b = 9 ^ 3
c = 7 ^ 23
a, b, c

(25, 10, 16)

In [74]:
# XAND
""" There is no dedicated "exclusive and" operator. 
Workaround:
=> Performs a & ~b (bitwise AND with inverted b)
"""
a = 0b1011 
b = 0b1101
res = a & ~b
res

2

In [75]:
""" Shift 8 => Binary 1000 """

num = 8  
# Shift one to left
a = num << 1 #=> 10000
# Shift twice to left
b = num << 2 #=> 100000

# Shift one to right
c = num >> 1 #=> 100
# Shift twice to right
d = num >> 2 #=> 10

a, b, c, d

(16, 32, 4, 2)

<h4 style="color:darkorange"> => math module </h4>

In [76]:
summ = math.fsum([1, 2, 3])
rdown = math.floor(1.5)
rup = math.ceil(1.5)
pro = math.prod([22, 1, 2])
summ, rdown, rup, pro

(6.0, 1, 2, 44)

In [77]:
# Powers
math.pow(2,3)

8.0

In [78]:
# Absolute value
a = math.fabs(-5)
b = math.fabs(5 - 10)
a,b

(5.0, 5.0)

In [79]:
# Square root
math.sqrt(64)

8.0

In [80]:
# Logarithms
l1 = math.log(math.e)
l2 = math.log10(100) 
l1,l2

(1.0, 2.0)

In [81]:
# Check if a number is even:
math.isfinite(6) % 2 == 0

False

In [82]:
# Pi value
math.pi

3.141592653589793

In [83]:
# Exponential
math.exp(1)

2.718281828459045

In [84]:
# Check if a number is a power of 2
math.log2(8) == 3

True

In [85]:
# Check positivity
num = -32
math.copysign(1, num) == 1

False

In [86]:
# Trigonometric functions
s = math.sin(math.pi/2)
c = math.cos(1)
t = math.tan(45)
s,c,t

(1.0, 0.5403023058681398, 1.6197751905438615)

In [87]:
# Hyperbolic functions
sh = math.sinh(1)
ch = math.cosh(0)
th = math.tanh(1) 
sh,ch,th

(1.1752011936438014, 1.0, 0.7615941559557649)

In [88]:
# Greatest common divisor
math.gcd(8,12)

4

In [89]:
# Factorial
math.factorial(6)

720

In [90]:
""" Calculate erf/erfc => Gaussian error functions
Recap:
    erf(x) = 2/√π * ∫ from 0 to x of e^-t^2 dt
    erfc(x) = 1 - erf(x) #complementary

- erf(0) = 0
- erf(∞) = 1
- erfc(0) = 1
- erfc(∞) = 0
"""
math.erf(1)
math.erfc(1)

0.15729920705028513

In [91]:
# Degree/radians:
d = math.degrees(math.pi)
r = math.radians(180)
d,r

(180.0, 3.141592653589793)

In [92]:
# Gamma function
math.gamma(0.5)

1.7724538509055159

In [93]:
""" Polynomial evaluation 
equivalent to p = np.poly1d([1,2,3]) 
"""

def poly_eval(coeffs, x):
    result = 0
    for i, c in enumerate(coeffs):
        result += c * (x**i)
    return result

poly_eval([1,2,3], 2)

17

In [94]:
a = True
x = 100_000 if a else 0

<h3 style="color:darkorange"> Swapping </h3>

In [95]:
""" Swap 1 """
level = 4
name = 'Jack'
level, name = name, level
print(f"name and level are : {name} {level}")

name and level are : 4 Jack

In [96]:
a, b, c, d = 5, 10, 15, 20
a, b, c, d = c, a, d, b
a, b, c, d

(15, 5, 20, 10)

In [97]:
def dummy_swap(a, b, c, d):
    a = a + b
    b = a - b
    a = a - b 
    b = b + c
    c = b - c
    b = b - c
    c = c + d
    d = c - d
    c = c - d
    return a, b, c, d 

x = 11
y = 42
z = 31 
q = 42 

x, y, z, q = dummy_swap(x,y,z,q)
x, y, z, q

(42, 31, 42, 11)

<h3 style="color:darkorange"> Base conversion</h3>

In [98]:
# Binary 
bin(2), type(bin(2))

('0b10', str)

In [99]:
# Binary 
a = bin(23)
# or 
b = format(23, 'b')
a, b

('0b10111', '10111')

In [100]:
# Octal
oct(23)

'0o27'

In [101]:
# Octal
oct = 0o27
dec = int(oct)
dec

23

In [102]:
# Hexadecimal
hex(23)

'0x17'

In [103]:
# Hexadecimal with 0x prefix
0xf

15

<h3 style="color:darkorange"> Randomness </h3>

In [104]:
randin = random.randint(1, 100)

my_list = [1, 2, 3, 4, 5]
random.shuffle(my_list)

my_list = ["mouse", "keyboard", "headphones", "monitor"]
ranf = random.choice(my_list)

f1 = [(1763, 'audio_1763', '1F', '1FCACO', 'Tocca un animale rosso', 2), 
    (1764, 'audio_1764', '1F', '1FCACO', 'Tocca un animale verde', 2),
    (1766, 'audio_1766', '1F', '1FCACO', 'Tocca un animale blu', 2)]
f2 = random.sample(f1, 1) #len(f1))

print("Random Integer:", randin)
print("Shuffled List:", my_list)
print("Random Choice:", ranf)
print("Random part fixed len", f2)

Random Integer: 16
Shuffled List: ['mouse', 'keyboard', 'headphones', 'monitor']
Random Choice: keyboard
Random part fixed len [(1764, 'audio_1764', '1F', '1FCACO', 'Tocca un animale verde', 2)]

In [105]:
random_float = random.random()

start_range = 5.0
end_range = 10.0
random_float_range = random.uniform(start_range, end_range)

print("Random Float:", random_float)
print("Random Float within Range:", random_float_range)

Random Float: 0.15417383391602013
Random Float within Range: 6.779270515074668

In [106]:
# No replacements 
my_list = [1, 2, 3, 4, 5]
random_ele1 = random.sample(my_list, 2)
random_ele2 = random.sample(my_list, 3)
print("Random Elements:", random_ele1)
print("Random Elements:", random_ele2)

Random Elements: [5, 3]
Random Elements: [2, 1, 5]

In [107]:
random_char = random.choice(string.ascii_lowercase)
print("Random Character:", random_char)

Random Character: d

In [108]:
password_length = 10
characters = string.ascii_letters + string.digits + string.punctuation
random_password = ''.join(random.choice(characters) for _ in range(password_length))
print("Random Password:", random_password)

Random Password: K12lx9M,f_

In [109]:
col = ["red", "green", "blue"]
proba = [0.3, 0.5, 0.2]
random_color = random.choices(col, proba, k=1)
print("Random Color:", random_color[0])

Random Color: red

In [110]:
""" Seeding the random number generator for reproducibility. """
seed_value = 42
random.seed(seed_value)
random_integer_reproducible1 = random.randint(1, 100)
random_integer_reproducible2 = random.randint(1, 100)
print("Reproducible 1:", random_integer_reproducible1)
print("Reproducible 2:", random_integer_reproducible2)

Reproducible 1: 82
Reproducible 2: 15