<div style="line-height:0.5">
<h1 style="color:darkkhaki"> SQLite basics 0 </h1>
<span style="display: inline-block;">
    <h3 style="color: lightblue; display: inline;">Keywords:</h3>
    SQLite shell guide + "&emsp;" &emsp tabulation in markdown cells
</span>
</div>

In [2]:
import sqlite3

In [3]:
# Connect to the database (or create it if it doesn't exist)
conn = sqlite3.connect("./databases_used_in_examples/animals_for_basic0.db")

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

In [4]:
""" Execution of queries directly.
N.B.
Use triple quotes to split string text on multiple lines.
"""
# Create a table for animal types
cursor.execute(""" CREATE TABLE IF NOT EXISTS animal_types (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL)
""")

# Create a table for animal characteristics
cursor.execute(""" CREATE TABLE IF NOT EXISTS animal_characteristics (
    id INTEGER PRIMARY KEY,
    animal_id INTEGER NOT NULL,
    characteristic TEXT NOT NULL,
    FOREIGN KEY (animal_id) REFERENCES animal_types (id))
""")

# Save changes 
conn.commit()

In [ ]:
""" Close connection if necessary """
#conn.close()

In [5]:
""" Use methods to start queries' execution. """
def insert_animal_type(cursor, name):
    cursor.execute("INSERT INTO animal_types (name) VALUES (?)", (name,))

def insert_animal_characteristic(cursor, animal_id, characteristic):
    cursor.execute("INSERT INTO animal_characteristics (animal_id, characteristic) VALUES (?, ?)", (animal_id, characteristic))

In [6]:
#### Insert animal types
insert_animal_type(cursor, "Dog")
insert_animal_type(cursor, "Cat")
insert_animal_type(cursor, "Elephant")
insert_animal_type(cursor, "Lion")

## Get the IDs of the inserted animal types
cursor.execute("SELECT id FROM animal_types")
animal_ids = [row[0] for row in cursor.fetchall()]

########### Insert animal characteristics
for animal_id in animal_ids:
    if animal_id == 1:    #Dog
        insert_animal_characteristic(cursor, animal_id, "Friendly")
        insert_animal_characteristic(cursor, animal_id, "Loyal")
        insert_animal_characteristic(cursor, animal_id, "Active")
    elif animal_id == 2:  #Cat
        insert_animal_characteristic(cursor, animal_id, "Independent")
        insert_animal_characteristic(cursor, animal_id, "Curious")
        insert_animal_characteristic(cursor, animal_id, "Agile")
    elif animal_id == 3:  #Elephant
        insert_animal_characteristic(cursor, animal_id, "Gentle")
        insert_animal_characteristic(cursor, animal_id, "Intelligent")
        insert_animal_characteristic(cursor, animal_id, "Strong")
    elif animal_id == 4:  #Lion
        insert_animal_characteristic(cursor, animal_id, "Majestic")
        insert_animal_characteristic(cursor, animal_id, "Courageous")
        insert_animal_characteristic(cursor, animal_id, "Social")

# Save the changes 
conn.commit()
#conn.close()

In [7]:
def create_new_tables(cursor):
    """ Create the 'animal_habitats' and 'animal_status' tables. """
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS animal_habitats (
            id INTEGER PRIMARY KEY,
            habitat TEXT NOT NULL,
            animal_id INTEGER,
            FOREIGN KEY (animal_id) REFERENCES animals (id)
        )
    """)

    cursor.execute("""
        CREATE TABLE IF NOT EXISTS animal_status (
            id INTEGER PRIMARY KEY,
            status TEXT NOT NULL,
            animal_id INTEGER,
            FOREIGN KEY (animal_id) REFERENCES animals (id)
        )
    """)

def insert_animal_habitat(cursor, habitat, animal_id):
    cursor.execute("INSERT INTO animal_habitats (habitat, animal_id) VALUES (?, ?)", (habitat, animal_id))

def insert_animal_status(cursor, status, animal_id):
    cursor.execute("INSERT INTO animal_status (status, animal_id) VALUES (?, ?)", (status, animal_id))

In [8]:
create_new_tables(cursor)

## Get the IDs of the inserted animal types
cursor.execute("SELECT id FROM animal_types")
animal_ids = [row[0] for row in cursor.fetchall()]

################ Insert animal habitats and status
for animal_id in animal_ids:
    if animal_id == 1:    #Dog
        insert_animal_habitat(cursor, "House", animal_id)
        insert_animal_status(cursor, "Domesticated", animal_id)
    elif animal_id == 2:  #Cat
        insert_animal_habitat(cursor, "House", animal_id)
        insert_animal_status(cursor, "Domesticated", animal_id)
    elif animal_id == 3:  #Elephant 
        insert_animal_habitat(cursor, "Savanna", animal_id)
        insert_animal_status(cursor, "Wild", animal_id)
    elif animal_id == 4:  #Lion 
        insert_animal_habitat(cursor, "Savanna", animal_id)
        insert_animal_status(cursor, "Wild", animal_id)

conn.commit()

<div style="line-height:0.5">
<h2 style="color:darkkhaki"> Guide to sqlite3 sqlite command line interface (terminal program)  </h2>
</div>
<div style="line-height:0.1">
<h4> Open existing database: </h4> <br>
$sqlite3 placeholder_name_database.db     <br>
</div>



#################### <br>
``Basics`` <br>
#################### <br>
sqlite> .tables       <br>
sqlite> .schema Kids       <br>
sqlite> .fullschema       <br>
sqlite> .schema main.*       <br>
sqlite> .quit       <br>


Verify changes: <br>
&emsp;&emsp; sqlite> .shows   <br>

Write on csv: <br>
&emsp;&emsp; sqlite> .headers on (if u want to include names of columns)    <br>
&emsp;&emsp; sqlite> .mode csv      <br>
&emsp;&emsp; sqlite> .ouput whereistheoutputstored.csv     <br>
&emsp;&emsp; sqlite> select * from Table; (the comma is mandatory!)     <br>

Save to std output:<br>
&emsp;&emsp;sqlite> .output stdout      

Show column name table Kids:<br>
&emsp;&emsp;sqlite> PRAGMA table_info(Kids); 
Show indexes <br>
&emsp;&emsp;sqlite> .indexes <br>
&emsp;&emsp;sqlite> .indexes nametable <br>
############################ <br>
``mode output`` <br>
############################  <br>
sqlite> .mode list      
sqlite> .mode quote     
sqlite> .mode line     
sqlite> .mode column     

sqlite> .width 12 -6     
import sql query     
sqlite> .read myscript.sql     
Import csv    
sqlite> .import csv_file.csv   

############################################################ <br>
``Queries`` (add semicolon ; necessary for having results) <br>
############################################################   <br>
sqlite> select * from Kids ;    

############################################################ <br>
``Write`` results in a file <br>
############################################################   <br>
Choose output file and write (store in the current folder, without adding another path)  <br> 
&emsp;&emsp;        .output new_db_output.txt                           
Write a query whose result will be printed into the file <br>
&emsp;&emsp;        .tables                                                  
Try another query.... <br>
&emsp;&emsp;        select * ciao from table <br>
Reset the output to stdout terminal and not the file anymore <br>
&emsp;&emsp;        .output                          <br>                         

####################################################################################    <br>
Launch ``SQLite commands`` directly from terminal, without entering in SQLite shell    <br>
####################################################################################    <br>

1. Create table     
    $sqlite3 test.db 'create table abc (col0 int)'      
    $sqlite3 placeholder_database.db "select question_id from Questions_Patches" > copy_output_query.txt      
    $sqlite3 ../../placeholder_database.db "drop TABLE table1;"      

2. Write  query result into a file:    
    $sqlite3 database "SELECT * FROM table;" >  somefile    
  
3. Transform database sqlite into csv file :    
    $sqlite3 -header -csv ./placeholder_database.db "SELECT * FROM Questions WHERE kind = '1F' group by type;" > ./placeholder_csv_respons.csv    
    OR...     
    $sqlite3 -header -csv ./placeholder_database.db "select * from tracks;" > tracks_csv.csv     

4. Change Separator      
    $sqlite3 -header -csv -separator ";" ./placeholder_database.db "SELECT * FROM Questions;" > ~/Desktop/get_result.csv     

5. Execute query written in file     
    $sqlite3 placeholder_database.db ".read File1_test.txt"     
    
6. Concatenate commands example:     
    drop table Full_tables_recap;           
    drop table Full_recap_giga;           
    drop table Full_summary;           
    drop table Full_summary_new;           
    drop table Full_second_summary;           
    drop table Full_last_summary;           

###########################################    <br>
``Convert`` an Entire Database To A Text File     
###########################################  <br>
$sqlite3 ex1 .dump | gzip -c >ex1.dump.gz  

###########################################################    <br>
Open ``sqlitebrowser`` (GUI program) from terminal <br>
###########################################################  <br>
&emsp;&emsp; $sqlitebrowser one_database.db         
    OR... <br>
&emsp;&emsp; $xdg-open name_database.db <br>