<div style="line-height:0.5">
<h1 style="color:darkkhaki"> SQLite basics 1 </h1>
</div>
<h4> Create db and tables. Focus on joins </h4>

In [36]:
import random
import sqlite3
import pandas as pd

<h2 style="color:darkkhaki"> <u>Example 1 </u></h2>

In [2]:
a, b,c ,d, e = 1, 2, 3, 4, 5
a1, b1,c1 ,d1, e1 = 11, 12, 13, 14, 15
a2, b2,c2 ,d2, e2 = 21, 22, 23, 24, 25

In [3]:
con = sqlite3.connect("./databases_used_in_examples/db_for_basic1.db")      #db is created if does not exist yet
cur = con.cursor()

In [4]:
cur.execute("CREATE TABLE IF NOT EXISTS t (lev INTEGER, comple INTEGER, s1 INTEGER, s2 INTEGER, s3 INTEGER);")
cur.execute("CREATE TABLE IF NOT EXISTS t2 (lev INTEGER, comple INTEGER, s4 INTEGER, s5 INTEGER, s6 INTEGER);")
cur.execute("INSERT INTO t(lev, comple, s1,s2,s3) VALUES (?,?,?,?,?)",(a,b,c,d,e))
cur.execute("INSERT INTO t(lev, comple, s1,s2,s3) VALUES (?,?,?,?,?)",(a1,b1,c1,d1,e1))
cur.execute("INSERT INTO t(lev, comple, s1,s2,s3) VALUES (?,?,?,?,?)",(a2,b2,c2,d2,e2))
cur.execute("INSERT INTO t2(lev, comple, s4,s5,s6) VALUES (?,?,?,?,?)",(a,b,c,d,e))
cur.execute("INSERT INTO t2(lev, comple, s4,s5,s6) VALUES (?,?,?,?,?)",(a1,b1,c1,d1,e1))
cur.execute("INSERT INTO t2(lev, comple, s4,s5,s6) VALUES (?,?,?,?,?)",(a2,b2,c2,d2,e2))

con.commit()

In [5]:
cur.execute("INSERT INTO t(lev,comple) SELECT lev,comple FROM t2 where lev = 21")
con.commit()

In [6]:
sql_create_newtab='''
	CREATE TABLE Newtab(
	kid INTEGER,
    achi TEXT,
    achi_val
	)
	'''
sql_create_kids='''
	CREATE TABLE Kids (
	kid_id INTEGER UNIQUE PRIMARY KEY AUTOINCREMENT NOT NULL
	)'''
sql_create_achi='''
	CREATE TABLE Achievements (
	achievement_name TEXT PRIMARY KEY NOT NULL
	CHECK( achievement_name IN (
		'Num of easy session done',
		'Num of normal session done',
		'Num of medium session done',
		'Num of hard session done',
		'Num of easy_1 matches done',
		'Num of easy_2 matches done',
		'Num of normal_1 matches done',
		'Num of normal_2 matches done',
		'Num of medium_1 matches done',
		'Num of medium_2 matches done',
		'Num of hard_1 matches done',
		'Num of hard_2 matches done',
		'Num of easy_1 games done',
		'Num of easy_2 games done',
		'Num of normal_1 games done',
		'Num of normal_2 games done',
		'Num of medium_1 games done',
		'Num of medium_2 games done',
		'Num of hard_1 games done',
		'Num of hard_2 games done',
		'Num of sessions with matches in SAME order of difficulty',
		'Num of sessions with matches in ASC order of difficulty',
		'Num of sessions with matches in DESC order of difficulty',
		'Num of sessions with matches with SAME quantity of games',
		'Num of sessions with matches with ASC quantity of games',
		'Num of sessions with matches with DESC quantity of games',
		'Num of matches with games in SAME order of difficulty',
		'Num of matches with games in ASC order of difficulty',
		'Num of matches with games in DESC order of difficulty',
		'Num of matches with games with SAME quantity of questions',
		'Num of matches with games with ASC quantity of questions',
		'Num of matches with games with DESC quantity of questions',
		'Num of games with questions in SAME order of difficulty',
		'Num of games with questions in ASC order of difficulty',
		'Num of games with questions in DESC order of difficulty',
		'Total session completed',
		'Total game solved',
		'Total questions answered',
		'Max num of matches in a session',
		'Max num of games in a match',
		'Max num of questions in a game',
		'Num of Mixed match tried',
		'Max score reached ',
		'Good result obtained',
		'Pefect result obtained',
		'Kind 1F done',
		'Kind 2L done',
		'Kind 3S done',
		'Kind 4P done',
		'Kind 5K done',
		'Kind 6I done',
		'Kind 7O done',
		'Kind 8Q done',
		'Kind 9C done'
	))
	NOT NULL
	)'''

all_achievements = [
	'Num of easy session done',
	'Num of normal session done',
	'Num of medium session done',
	'Num of hard session done',
	'Num of easy_1 matches done',
	'Num of easy_2 matches done',
	'Num of normal_1 matches done',
	'Num of normal_2 matches done',
	'Num of medium_1 matches done',
	'Num of medium_2 matches done',
	'Num of hard_1 matches done',
	'Num of hard_2 matches done',
	'Num of easy_1 games done',
	'Num of easy_2 games done',
	'Num of normal_1 games done',
	'Num of normal_2 games done',
	'Num of medium_1 games done',
	'Num of medium_2 games done',
	'Num of hard_1 games done',
	'Num of hard_2 games done',
	'Num of sessions with matches in SAME order of difficulty',
	'Num of sessions with matches in ASC order of difficulty',
	'Num of sessions with matches in DESC order of difficulty',
	'Num of sessions with matches with SAME quantity of games',
	'Num of sessions with matches with ASC quantity of games',
	'Num of sessions with matches with DESC quantity of games',
	'Num of matches with games in SAME order of difficulty',
	'Num of matches with games in ASC order of difficulty',
	'Num of matches with games in DESC order of difficulty',
	'Num of matches with games with SAME quantity of questions',
	'Num of matches with games with ASC quantity of questions',
	'Num of matches with games with DESC quantity of questions',
	'Num of games with questions in SAME order of difficulty',
	'Num of games with questions in ASC order of difficulty',
	'Num of games with questions in DESC order of difficulty',
	'Total session completed',
	'Total game solved',
	'Total questions answered',
	'Max num of matches in a session',
	'Max num of games in a match',
	'Max num of questions in a game',
	'Num of Mixed match tried',
	'Max score reached ',
	'Good result obtained',
	'Pefect result obtained',
	'Kind 1F done',
	'Kind 2L done',
	'Kind 3S done',
	'Kind 4P done',
	'Kind 5K done',
	'Kind 6I done',
	'Kind 7O done',
	'Kind 8Q done',
	'Kind 9C done',
	]

In [7]:
cur.execute("DROP TABLE IF EXISTS Newtab")
cur.execute("DROP TABLE IF EXISTS Achievements")
cur.execute("DROP TABLE IF EXISTS Kids")
cur.execute(sql_create_newtab)
cur.execute(sql_create_achi)
cur.execute(sql_create_kids);

In [8]:
cur.execute('INSERT INTO Kids (kid_id) VALUES (1)')
cur.execute('INSERT INTO Kids (kid_id) VALUES (2)')
cur.execute('INSERT INTO Kids (kid_id) VALUES (3)')
cur.execute('INSERT INTO Kids (kid_id) VALUES (4)')
con.commit()

In [9]:
""" Instert from list """
for item in all_achievements:
	cur.execute("INSERT INTO Achievements VALUES (?)", (item, ))
con.commit()

In [10]:
sql_insertion_achi = '''
    UPDATE Newtab 
    SET achi = (SELECT achievement_name
                FROM Achievements
                WHERE rowid=?)
    WHERE rowid = ?
    '''

# Insert last kid
sql_insertion_achi_4 = "INSERT INTO Newtab (kid) SELECT kid_id FROM Kids ORDER BY kid_id DESC LIMIT 1" # WHERE kid isNull" 

sql_insertion_achi_3 = "INSERT INTO Newtab (kid) SELECT kid_id FROM Kids WHERE kid_id = 3"
sql_insertion_achi_2 = "INSERT INTO Newtab (kid) SELECT kid_id FROM Kids WHERE kid_id = 2"
sql_insertion_achi_1 = "INSERT INTO Newtab (kid) SELECT kid_id FROM Kids WHERE kid_id = 1"

In [11]:
cur.execute("SELECT COUNT(achievement_name) FROM Achievements")
num_achievements = cur.fetchone()[0]
print(num_achievements)
for i in range(num_achievements):
    cur.execute(sql_insertion_achi_4)
for i in range(num_achievements):
    cur.execute(sql_insertion_achi_3)
for i in range(num_achievements):
    cur.execute(sql_insertion_achi_2)
for i in range(num_achievements):
    cur.execute(sql_insertion_achi_1)

con.commit()

cur.execute("SELECT COUNT(DISTINCT kid_id) FROM Kids")
num_users = cur.fetchone()[0]
print(num_users)

tot_achi, start_achi = 0, 0
for user_id in range(1, num_users + 1):
    tot_achi = (user_id-1) * num_achievements + start_achi
    for achievement_id in range(num_achievements+1):
        cur.execute("""
            UPDATE Newtab
            SET achi = (SELECT achievement_name
                        FROM Achievements
                        WHERE rowid = ?)
            WHERE rowid = ?
            """, (achievement_id, achievement_id + tot_achi))                                                      

con.commit()

54
4

In [12]:
new_value = 'Kind 9C done'

cur.execute("""
    UPDATE Newtab
    SET achi = ?
    WHERE achi IS NULL
    """, (new_value, ))

# Commit the changes to the database
con.commit()

In [13]:
# Set value 
sql_update_kids_achi = '''
	UPDATE Newtab
	SET achi_val = ?
	WHERE achi = ? AND kid = ?
'''

cur.execute(sql_update_kids_achi,(120,'Num of easy_2 games done',1,))
cur.execute(sql_update_kids_achi,(114,'Good result obtained',1,))
cur.execute(sql_update_kids_achi,(132,'Num of hard_2 games done',1,))
cur.execute(sql_update_kids_achi,(112,'Num of games with questions in SAME order of difficulty',1,))
cur.execute(sql_update_kids_achi,(100,'Num of sessions with matches in DESC order of difficulty',1,))
cur.execute(sql_update_kids_achi,(131,'Num of Mixed match tried',1,))
con.commit()
cur.execute(sql_update_kids_achi,(97,'Num of normal_2 matches done',2,))
cur.execute(sql_update_kids_achi,(87,'Good result obtained',2,))
cur.execute(sql_update_kids_achi,(128,'Max num of matches in a session',2,))
cur.execute(sql_update_kids_achi,(109,'Num of Mixed match tried',2,))
cur.execute(sql_update_kids_achi,(103,'Total session completed',2,))
cur.execute(sql_update_kids_achi,(100,'Num of Mixed match tried',2,))
con.commit()
cur.execute(sql_update_kids_achi,(130,'Kind 6I done',3,))
cur.execute(sql_update_kids_achi,(119,'Max score reached',3,))
cur.execute(sql_update_kids_achi,(108,'Num of hard_2 games done',3,))
cur.execute(sql_update_kids_achi,(82,'Num of Mixed match tried',3,))
cur.execute(sql_update_kids_achi,(94,'Kind 2L done',3,))
cur.execute(sql_update_kids_achi,(111,'Num of Mixed match tried',3,))
con.commit()
cur.execute(sql_update_kids_achi,(120,'Num of normal_2 matches done',4,))
cur.execute(sql_update_kids_achi,(113,'Good result obtained',4,))
cur.execute(sql_update_kids_achi,(122,'Num of hard_2 games done',4,))
cur.execute(sql_update_kids_achi,(99,'Num of Mixed match tried',4,))
cur.execute(sql_update_kids_achi,(83,'Total session completed',4,))
cur.execute(sql_update_kids_achi,(88,'Num of Mixed match tried',4,))

In [ ]:
cur.execute('''CREATE TABLE IF NOT EXISTS ScoresTotalTypeOfGame AS 
		SELECT kid, achi, SUM(achi_val) as tot_answers_type
		FROM Newtab
        GROUP BY kid''')

#cur.execute("DROP TABLE IF EXISTS Newtab")

con.commit()

In [14]:
sql_get1 = 'SELECT * FROM Kids'
sql_get2 = 'SELECT * FROM Achievements'
sql_get3 = 'SELECT * FROM ScoresTotalTypeOfGame'
sql_get4 = 'SELECT * FROM Newtab'

# Use pandas to read the data from the database into a DataFrame
df1 = pd.read_sql_query(sql_get1, con)
df2 = pd.read_sql_query(sql_get2, con)
df3 = pd.read_sql_query(sql_get3, con)
df4 = pd.read_sql_query(sql_get4, con)

print(df1.head())
print()
print(df2.head())
print()
print(df3.head())
print()
print(df4.head())

   kid_id
0       1
1       2
2       3
3       4

             achievement_name
0    Num of easy session done
1  Num of normal session done
2  Num of medium session done
3    Num of hard session done
4  Num of easy_1 matches done

   kid                      achi  tot_answers_type
0    1  Num of easy session done               709
1    2  Num of easy session done               515
2    3  Num of easy session done               443
3    4  Num of easy session done               526

   kid                        achi  achi_val
0    4    Num of easy session done       NaN
1    4  Num of normal session done       NaN
2    4  Num of medium session done       NaN
3    4    Num of hard session done       NaN
4    4  Num of easy_1 matches done       NaN

<h2 style="color:darkkhaki"> <u>Example 2 </u></h2>

In [15]:
conn = sqlite3.connect('./databases_used_in_examples/anime_for_bacis1.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS characters (
        id INTEGER PRIMARY KEY,
        name TEXT,
        anime TEXT
    )
''')
cursor.execute('''
    CREATE TABLE IF NOT EXISTS abilities (
        id INTEGER PRIMARY KEY,
        ability_name TEXT,
        character_id INTEGER,
        FOREIGN KEY (character_id) REFERENCES characters(id)
    )
''')

In [16]:
############################### Insertions
characters_data = [
    ('Naruto Uzumaki', 'Naruto'),
    ('Goku', 'Dragon Ball'),
    ('Monkey D. Luffy', 'One Piece'),
    ('Ichigo Kurosaki', 'Bleach')
]
abilities_data = [
    ('Rasengan', 1),
    ('Kamehameha', 2),
    ('Gomu Gomu no Rocket', 3),
    ('Getsuga Tensho', 4),
    ('Bankai', 4)
]

cursor.executemany('INSERT INTO characters (name, anime) VALUES (?, ?)', characters_data)

cursor.executemany('INSERT INTO abilities (ability_name, character_id) VALUES (?, ?)', abilities_data)

conn.commit()

### => Join

In [17]:
# INNER JOIN
cursor.execute('''
    SELECT characters.name, characters.anime, abilities.ability_name
    FROM characters
    INNER JOIN abilities ON characters.id = abilities.character_id
''')
inner_join_result = cursor.fetchall()

# LEFT JOIN
cursor.execute('''
    SELECT characters.name, characters.anime, abilities.ability_name
    FROM characters
    LEFT JOIN abilities ON characters.id = abilities.character_id
''')
left_join_result = cursor.fetchall()

# RIGHT JOIN
cursor.execute('''
    SELECT characters.name, characters.anime, abilities.ability_name
    FROM characters
    RIGHT JOIN abilities ON characters.id = abilities.character_id
''')
right_join_result = cursor.fetchall()

# FULL JOIN
cursor.execute('''
    SELECT characters.name, characters.anime, abilities.ability_name
    FROM characters
    FULL JOIN abilities ON characters.id = abilities.character_id
''')
full_join_result = cursororor.fetchall()

print("INNER JOIN:")
print(inner_join_result)
print("\nLEFT JOIN:")
print(left_join_result)
print("\nRIGHT JOIN:")
print(right_join_result)
print("\nFULL JOIN:")
print(full_join_result)

INNER JOIN:
[('Naruto Uzumaki', 'Naruto', 'Rasengan'), ('Goku', 'Dragon Ball', 'Kamehameha'), ('Monkey D. Luffy', 'One Piece', 'Gomu Gomu no Rocket'), ('Ichigo Kurosaki', 'Bleach', 'Getsuga Tensho'), ('Ichigo Kurosaki', 'Bleach', 'Bankai')]

LEFT JOIN:
[('Naruto Uzumaki', 'Naruto', 'Rasengan'), ('Goku', 'Dragon Ball', 'Kamehameha'), ('Monkey D. Luffy', 'One Piece', 'Gomu Gomu no Rocket'), ('Ichigo Kurosaki', 'Bleach', 'Bankai'), ('Ichigo Kurosaki', 'Bleach', 'Getsuga Tensho')]

RIGHT JOIN:
[('Naruto Uzumaki', 'Naruto', 'Rasengan'), ('Goku', 'Dragon Ball', 'Kamehameha'), ('Monkey D. Luffy', 'One Piece', 'Gomu Gomu no Rocket'), ('Ichigo Kurosaki', 'Bleach', 'Getsuga Tensho'), ('Ichigo Kurosaki', 'Bleach', 'Bankai')]

FULL JOIN:
[('Naruto Uzumaki', 'Naruto', 'Rasengan'), ('Goku', 'Dragon Ball', 'Kamehameha'), ('Monkey D. Luffy', 'One Piece', 'Gomu Gomu no Rocket'), ('Ichigo Kurosaki', 'Bleach', 'Getsuga Tensho'), ('Ichigo Kurosaki', 'Bleach', 'Bankai')]

In [18]:
""" Triggers  """ 

conn.close()
conn = sqlite3.connect('./anime_for_bacis1.db')
cursor = conn.cursor()

# character_stats table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS character_stats (
        id INTEGER PRIMARY KEY,
        character_id INTEGER,
        strength INTEGER,
        speed INTEGER,
        intelligence INTEGER,
        FOREIGN KEY (character_id) REFERENCES characters(id)
    )
''')

In [19]:
%%script echo skipping
######## Update character_stats after insertions OR updates in characters
def update_character_stats(trigger_operation, character_id):
    cursor.execute(''' SELECT SUM(strength), SUM(speed), SUM(intelligence)
        FROM abilities
        WHERE character_id = ?
    ''', (character_id,))
    total_abilities = cursor.fetchone()

    cursor.execute('''
        INSERT OR REPLACE INTO character_stats (character_id, strength, speed, intelligence)
        VALUES (?, ?, ?, ?)
    ''', (character_id, total_abilities[0], total_abilities[1], total_abilities[2]))
################################### Update character_stats after insertions and after updates (cannot be done together with OR and does not work with method!!) 
cursor.execute('''
    CREATE TRIGGER update_character_stats_insert_trigger
    AFTER INSERT ON characters
    FOR EACH ROW
    BEGIN
        SELECT CASE
            WHEN NEW.id IS NOT NULL THEN update_character_stats('INSERT', NEW.id)
            ELSE NULL
        END;
    END;
''')

cursor.execute('''
    CREATE TRIGGER update_character_stats_update_trigger
    AFTER UPDATE ON characters
    FOR EACH ROW
    BEGIN
        SELECT CASE
            WHEN NEW.id IS NOT NULL THEN update_character_stats('UPDATE', NEW.id)
            ELSE NULL
        END;
    END;
''')

conn.commit()

skipping

In [20]:
%%script echo skipping
""" SQLite doesn't support declaring variables inside triggers. Instead, we can directly use subqueries to fetch the required data. """
# Drop the previous trigger (if it exists) to avoid conflicts during testing
cursor.execute(''' DROP TRIGGER IF EXISTS update_character_stats_insert_trigger ''')
# -- Calculate total abilities
# -- Update character_stats
# Create the trigger without calling the function

cursor.execute('''
    CREATE TRIGGER update_character_stats_insert_trigger
    AFTER INSERT ON characters
    FOR EACH ROW
    BEGIN
        
        DECLARE total_strength INTEGER;
        DECLARE total_speed INTEGER;
        DECLARE total_intelligence INTEGER;
        
        SELECT SUM(strength), SUM(speed), SUM(intelligence)
        INTO total_strength, total_speed, total_intelligence
        FROM abilities
        WHERE character_id = NEW.id;

        INSERT OR REPLACE INTO character_stats (character_id, strength, speed, intelligence)
        VALUES (NEW.id, total_strength, total_speed, total_intelligence);
    END;
''')

skipping

In [21]:
# Drop the previous triggers (if they exist) to avoid conflicts during testing
cursor.execute(''' DROP TRIGGER IF EXISTS update_character_stats_insert_trigger ''')
cursor.execute(''' DROP TRIGGER IF EXISTS update_character_stats_update_trigger ''')

# Create the triggers for INSERT and UPDATE operations
cursor.execute('''
    CREATE TRIGGER IF NOT EXISTS update_character_stats_insert_trigger
    AFTER INSERT ON characters
    FOR EACH ROW
    BEGIN
        INSERT INTO character_stats (character_id, strength, speed, intelligence)
        SELECT NEW.id,
            SUM(CASE WHEN ability_name = 'Rasengan' THEN 1 ELSE 0 END) as strength,
            SUM(CASE WHEN ability_name = 'Kamehameha' THEN 1 ELSE 0 END) as speed,
            SUM(CASE WHEN ability_name = 'Gomu Gomu no Rocket' THEN 1 ELSE 0 END) as intelligence
        FROM abilities
        WHERE character_id = NEW.id;
    END;
''')

cursor.execute('''
    CREATE TRIGGER IF NOT EXISTS update_character_stats_update_trigger
    AFTER UPDATE ON characters
    FOR EACH ROW
    BEGIN
        INSERT INTO character_stats (character_id, strength, speed, intelligence)
        SELECT NEW.id,
            SUM(CASE WHEN ability_name in ('Getsuga Tensho', 'Rasengan')  THEN 1 ELSE 0 END) as strength,
            SUM(CASE WHEN ability_name = 'Kamehameha' THEN 1 ELSE 0 END) as speed,
            SUM(CASE WHEN ability_name in ('Bankai', 'Gomu Gomu no Rocket') THEN 1 ELSE 0 END) as intelligence
        FROM abilities
        WHERE character_id = NEW.id;
    END;
''')

In [22]:
cursor.execute('''
    INSERT INTO characters (name) VALUES (?)
''', ('Saitama',)) #remember the comma! 

conn.commit()

cursor.execute('''
    UPDATE characters
    SET anime = ?
    WHERE name = ?
''', ('OnePuch Man', 'Saitama'))

# Commit the update to trigger the second update
conn.commit()

In [23]:
sql_get = 'SELECT * FROM character_stats'

# Use pandas to read the data from the database into a DataFrame
df = pd.read_sql_query(sql_get, conn)

print(df.head())
print()

   id  character_id strength speed intelligence
0   1             5     None  None         None
1   2             5     None  None         None

In [24]:
""" alter... in SQLite cannot do all together """
cursor.execute('''
    ALTER TABLE character_stats
    ADD COLUMN stamina INTEGER
''')

cursor.execute('''
    ALTER TABLE character_stats
    ADD COLUMN agility INTEGER
''')

cursor.execute('''
    ALTER TABLE character_stats
    ADD COLUMN wisdom INTEGER
''')

cursor.execute('''
    ALTER TABLE character_stats
    ADD COLUMN luck INTEGER
''')

In [25]:
cursor.executemany('''
    INSERT OR IGNORE INTO character_stats (character_id, strength, speed, intelligence, stamina, agility, wisdom, luck)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?)
''', [
    (1, 5, None, None, 8, 4, 2, 3),
    (2, 5, None, None, 6, 7, 5, 4),
    (3, None, None, None, 6, 9, 6, 5),
    (4, None, None, None, 7, 5, 7, 6),
    (5, None, None, None, 10, 10, 10, 10)  
])

In [26]:
#PRAGMA table_info statement
table_name = 'character_stats'
cursor.execute(f"PRAGMA table_info({table_name})")

# Fetch all rows from the result
columns_info = cursor.fetchall()

for column in columns_info:
    print(column)

(0, 'id', 'INTEGER', 0, None, 1)
(1, 'character_id', 'INTEGER', 0, None, 0)
(2, 'strength', 'INTEGER', 0, None, 0)
(3, 'speed', 'INTEGER', 0, None, 0)
(4, 'intelligence', 'INTEGER', 0, None, 0)
(5, 'stamina', 'INTEGER', 0, None, 0)
(6, 'agility', 'INTEGER', 0, None, 0)
(7, 'wisdom', 'INTEGER', 0, None, 0)
(8, 'luck', 'INTEGER', 0, None, 0)

In [27]:
# Update 
cursor.execute('''
    UPDATE character_stats
    SET stamina = 90, agility = 75, wisdom = 85, luck = 70
    WHERE character_id = 1
''')
conn.commit()

In [28]:
sql_get = 'SELECT * FROM character_stats'
df = pd.read_sql_query(sql_get, conn)
df.head()

,id,character_id,strength,speed,intelligence,stamina,agility,wisdom,luck
0,1,5,NaN,None,None,NaN,NaN,NaN,NaN
1,2,5,NaN,None,None,NaN,NaN,NaN,NaN
2,3,1,5.0,None,None,90.0,75.0,85.0,70.0
3,4,2,5.0,None,None,6.0,7.0,5.0,4.0
4,5,3,NaN,None,None,6.0,9.0,6.0,5.0

In [29]:
""" Delete data consistency """

# sql_tri_del_1 = "CREATE TRIGGER IF NOT EXISTS delete_abilities_trigger \
#     AFTER DELETE ON characters \
#     FOR EACH ROW \
#     BEGIN \
#         DELETE FROM abilities WHERE id = OLD.id; \
#     END;"

sql_tri_del_1 = '''CREATE TRIGGER IF NOT EXISTS delete_abilities_trigger
    AFTER DELETE ON characters 
    FOR EACH ROW 
    BEGIN 
        DELETE FROM abilities WHERE id = OLD.id;
    END;''' 




sql_tri_del_2 = "CREATE TRIGGER IF NOT EXISTS delete_character_stats_trigger \
    AFTER DELETE ON characters \
    FOR EACH ROW \
    BEGIN \
        DELETE FROM character_stats WHERE character_id = OLD.id; \
    END;"

cursor.execute(sql_tri_del_1)
cursor.execute(sql_tri_del_2)

cursor.execute('''
    DELETE FROM characters
    WHERE id = 3''')

conn.commit()

In [37]:
def generate_random_intelligence():
    return random.randint(1, 100)

### Update with random intelligence values
cursor.execute('''
    UPDATE character_stats
    SET intelligence = ?''', (generate_random_intelligence(),))

conn.commit()

In [39]:
cursor.execute('''
    UPDATE character_stats
    SET speed = CASE
        WHEN strength >= 10 THEN 50
        WHEN strength >= 5 THEN 30
        ELSE 10
    END
''')
conn.commit()

In [40]:
cursor.execute('''
    SELECT *
    FROM characters
    LEFT JOIN character_stats ON characters.id = character_stats.character_id
    WHERE character_stats.strength IS NOT NULL 
    AND character_stats.speed IS NOT NULL 
    AND character_stats.intelligence IS NOT NULL 
    AND character_stats.stamina IS NOT NULL 
    AND character_stats.agility IS NOT NULL 
    AND character_stats.wisdom IS NOT NULL 
    AND character_stats.luck IS NOT NULL 
''')
chars = cursor.fetchall()
chars

[(1, 'Naruto Uzumaki', 'Naruto', 3, 1, 5, 30, 35, 90, 75, 85, 70),
 (2, 'Goku', 'Dragon Ball', 4, 2, 5, 30, 35, 6, 7, 5, 4)]

In [45]:
new_character_id = 5
ability_id = 5
cursor.execute('''UPDATE abilities
                SET character_id = ?
                WHERE id = ?''', (new_character_id, ability_id))
conn.commit()

In [48]:
character_id = 5

# Retrieve the list of ability_names for the given character_id from abilities table
cursor.execute("SELECT ability_name FROM abilities")
abilities = cursor.fetchall()
link = [item[0] for sublist in abilities for item in sublist]
print(abilities)
print(link)

[('Rasengan',), ('Kamehameha',), ('Getsuga Tensho',), ('Bankai',)]
['R', 'K', 'G', 'B']

In [49]:
# Update character_stats
curr_strength = 5
curr_speed = 10  
curr_intelligence = 8  
curr_stamina = 15  
curr_agility = 7  
curr_wisdom = 9  
curr_luck = 3  

cursor.execute('''UPDATE character_stats 
                SET strength = ?, speed = ?, intelligence = ?, stamina = ?, agility = ?, wisdom = ?, luck = ?
                WHERE character_id = ?''',
            (curr_strength, curr_speed, curr_intelligence, curr_stamina, curr_agility, curr_wisdom, curr_luck, character_id))
conn.commit()

In [53]:
""" Find a random ability_name for the given character_id that is not in the character_stats table. """

redo = 0
while redo == 0:
    cursor.execute('''SELECT DISTINCT ability_name
                    FROM abilities
                    WHERE character_id = ?
                    ORDER BY RANDOM()
                    LIMIT 1''', (character_id,))
    ret_2 = cursor.fetchall()
    result_2 = [item for sublist in ret_2 for item in sublist]

    print("ret_2", ret_2)
    print("result_2", result_2)

    cursor.execute('''SELECT ability_name
                    FROM abilities 
                    WHERE character_id = ?''', (character_id,))
    ret_1 = cursor.fetchall()
    print("ret_1", ret_1)
    result_1 = [item for sublist in ret_1 for item in sublist]
    print("result_1", result_1)

    if result_2 not in result_1:
        redo = 1

    ree = "Rasengan"  
    if ree not in result_1:
        print("there is not!")
    else:
        print("here it is!")

conn.close()

ret_2 [('Bankai',)]
result_2 ['Bankai']
ret_1 [('Bankai',)]
result_1 ['Bankai']
there is not!