<div style="line-height:0.5">
<h1 style="color:lightcoral"> Pandas basics 6 </h1>
</div>
<div style="line-height:1.5">
<div style="margin-top: -8px;">
<span style="display: inline-block;">
    <h3 style="color: lightblue; display: inline;">Keywords:</h3> time series + pd.from_dict() + np.nanmean() + pd.Timestamp() + pd.ffill()
</span>
</div>
</div>

In [7]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

<h2 style="color:lightcoral"> Example #1</h2>

In [2]:
# Create sample dataframe
data = {'DATE': ['08.06.2023', '07.06.2023', '06.06.2023', '05.06.2023', '04.06.2023', '22.12.2022', '08.06.2023', '07.06.2023', 
                '06.06.2023', '05.06.2023', '04.06.2023', '16.11.2022', '08.06.2023', '07.06.2023','06.06.2023', '05.06.2023','04.06.2023', '21.10.2021'],
        'CODE': ['APPLE', 'APPLE', 'APPLE', 'APPLE', 'APPLE', 'APPLE', 'HARLEY', 'HARLEY', 'HARLEY', 'HARLEY', 'HARLEY', 'HARLEY', 
                'META', 'META', 'META', 'META', 'META', 'META'],
        'CLOSE PRICE': [8.5, 7, 9.3, 12, 3, 25, 4, 2, 1, 5, 9.5, 4, 1.1, 2, 1, 15, 65, 5]}
df = pd.DataFrame(data)
df

          DATE    CODE  CLOSE PRICE
0   08.06.2023   APPLE          8.5
1   07.06.2023   APPLE          7.0
2   06.06.2023   APPLE          9.3
3   05.06.2023   APPLE         12.0
4   04.06.2023   APPLE          3.0
5   22.12.2022   APPLE         25.0
6   08.06.2023  HARLEY          4.0
7   07.06.2023  HARLEY          2.0
8   06.06.2023  HARLEY          1.0
9   05.06.2023  HARLEY          5.0
10  04.06.2023  HARLEY          9.5
11  16.11.2022  HARLEY          4.0
12  08.06.2023    META          1.1
13  07.06.2023    META          2.0
14  06.06.2023    META          1.0
15  05.06.2023    META         15.0
16  04.06.2023    META         65.0
17  21.10.2021    META          5.0

In [3]:
# Convert DATE column to datetime
df['DATE'] = pd.to_datetime(df['DATE'], format='%d.%m.%Y')

### Start dates for each code
start_dates = {'APPLE': datetime(2023, 6, 5),
                'HARLEY': datetime(2023, 6, 4),
                'META': datetime(2023, 6, 4)}

In [4]:
################## Calculate returns for each code and each time horizon
results = {}
for code in start_dates.keys():
    start_date = start_dates[code]
    filtered_df = df.loc[df['CODE']==code]
    if not filtered_df.empty:
        prices = filtered_df.loc[filtered_df['DATE']>=start_date, 'CLOSE PRICE'].values
        
        if len(prices) > 0:
            thirty_day_prices = prices[0:min(len(prices),30)]
            sixty_day_prices = prices[0:min(len(prices),60)]
            ninety_day_prices = prices[0:min(len(prices),90)]
            thirty_day_tot = (thirty_day_prices[-1] / thirty_day_prices[0]) - 1 if len(thirty_day_prices) > 1 else np.nan
            sixty_day_tot = (sixty_day_prices[-1] / sixty_day_prices[0]) - 1 if len(sixty_day_prices) > 1 else np.nan
            ninety_day_tot = (ninety_day_prices[-1] / ninety_day_prices[0]) - 1 if len(ninety_day_prices) > 1 else np.nan
            avg_thirty_day_return = np.nanmean(thirty_day_tot)
            avg_sixty_day_return = np.nanmean(sixty_day_tot)
            avg_ninety_day_return = np.nanmean(ninety_day_tot)
            results[code] = {'START DATE': start_date.strftime('%d.%m.%Y'),
                            'AVERAGE GAIN FOR 30 DAY FROM START DATE': f'{avg_thirty_day_return:.0%}' if not np.isnan(avg_thirty_day_return) else 'No data',
                            'AVERAGE GAIN FOR 60 DAY FROM START DATE': f'{avg_sixty_day_return:.0%}' if not np.isnan(avg_sixty_day_return) else 'No data',
                            'AVERAGE GAIN FOR 90 DAY FROM START DATE': f'{avg_ninety_day_return:.0%}' if not np.isnan(avg_ninety_day_return) else 'No data'}
        else:
            print(f"No data available for code {code} and start date {start_date.strftime('%d.%m.%Y')}")
    else:
        print(f"No data available for code {code}")

In [5]:
#### Create a new dataframe with the results
results_df = pd.DataFrame.from_dict(results, orient='index')
results_df.index.name = 'CODE'
results_df

,START DATE,AVERAGE GAIN FOR 30 DAY FROM START DATE,AVERAGE GAIN FOR 60 DAY FROM START DATE,AVERAGE GAIN FOR 90 DAY FROM START DATE
CODE,,,,
APPLE,05.06.2023,41%,41%,41%
HARLEY,04.06.2023,138%,138%,138%
META,04.06.2023,5809%,5809%,5809%

In [6]:
df.head()

<h2 style="color:lightcoral"> Example #2</h2>

In [33]:
# Create a time series
ts = pd.Timestamp('2022-01-01 00:00')
se1 = pd.Series(10000, index=[ts])
se1

2022-01-01    10000
dtype: int64

In [34]:
se1.index

DatetimeIndex(['2022-01-01'], dtype='datetime64[ns]', freq=None)

In [35]:
# Create Series with random values 
dts = pd.date_range('2022-01-01', '2022-12-31', freq='B')   #'B' to generate a datetime index with only business days (weekdays only).
ts = pd.Series(np.random.randn(len(dts)), index=dts)
ts.head()

2022-01-03    0.74
2022-01-04   -1.60
2022-01-05    0.30
2022-01-06   -0.75
2022-01-07   -0.31
Freq: B, dtype: float64

Available Frequency specifiers (for Pandas date_range)

- 'B' - Business days 
- 'D' - Calendar days
- 'W' - Weekly
- 'M' - End of month
- 'Q' - Quarter end
- 'A' - Year end

In [43]:
pd.set_option('display.max_rows', None)
ts

2022-01-03    7.38e-01
2022-01-04   -1.60e+00
2022-01-05    2.96e-01
2022-01-06   -7.55e-01
2022-01-07   -3.09e-01
2022-01-10   -1.55e+00
2022-01-11    1.67e+00
2022-01-12   -1.68e+00
2022-01-13    1.39e+00
2022-01-14   -9.03e-02
2022-01-17   -9.76e-01
2022-01-18    8.34e-01
2022-01-19    1.40e+00
2022-01-20    7.74e-02
2022-01-21    1.22e-01
2022-01-24   -2.61e-01
2022-01-25   -2.09e-02
2022-01-26    7.28e-02
2022-01-27    1.08e-01
2022-01-28   -8.27e-01
2022-01-31   -8.56e-01
2022-02-01   -2.01e-01
2022-02-02   -9.78e-01
2022-02-03   -5.83e-01
2022-02-04   -1.23e+00
2022-02-07    1.10e+00
2022-02-08    4.07e-01
2022-02-09    3.42e-01
2022-02-10    1.83e+00
2022-02-11   -5.21e-01
2022-02-14   -4.46e-01
2022-02-15   -4.71e-01
2022-02-16   -2.28e-01
2022-02-17   -9.15e-01
2022-02-18   -1.97e-01
2022-02-21   -2.49e-01
2022-02-22    1.25e+00
2022-02-23    1.26e-01
2022-02-24   -8.23e-01
2022-02-25   -5.13e-01
2022-02-28   -2.89e-01
2022-03-01   -1.87e+00
2022-03-02   -3.94e-01
2022-03-03    2.22e-01
2022-03-04   -1.09e-02
2022-03-07    3.25e-02
2022-03-08    2.04e-01
2022-03-09   -7.43e-01
2022-03-10    2.27e+00
2022-03-11    6.00e-01
2022-03-14   -7.66e-01
2022-03-15   -6.06e-01
2022-03-16   -1.01e+00
2022-03-17    5.70e-01
2022-03-18   -8.39e-01
2022-03-21   -2.55e-01
2022-03-22   -7.73e-01
2022-03-23   -6.28e-01
2022-03-24    4.92e-01
2022-03-25   -1.47e+00
2022-03-28    5.47e-02
2022-03-29    1.43e+00
2022-03-30    8.01e-01
2022-03-31   -1.01e+00
2022-04-01    1.31e+00
2022-04-04   -5.24e-01
2022-04-05    7.66e-01
2022-04-06   -2.13e-02
2022-04-07    1.08e+00
2022-04-08    7.04e-01
2022-04-11    2.14e+00
2022-04-12    7.00e-01
2022-04-13   -1.30e+00
2022-04-14   -7.27e-01
2022-04-15    3.41e-01
2022-04-18   -5.66e-01
2022-04-19    1.31e-01
2022-04-20    7.36e-01
2022-04-21    2.85e-01
2022-04-22    1.25e+00
2022-04-25    1.83e-01
2022-04-26    3.18e-01
2022-04-27    4.77e-01
2022-04-28   -6.62e-01
2022-04-29    1.14e+00
2022-05-02    3.85e-01
2022-05-03    1.01e+00
2022-05-04   -1.08e+00
2022-05-05    8.67e-01
2022-05-06    9.62e-01
2022-05-09    9.23e-01
2022-05-10   -1.15e-01
2022-05-11   -1.88e-01
2022-05-12   -7.56e-02
2022-05-13    1.30e+00
2022-05-16    2.12e+00
2022-05-17    1.56e+00
2022-05-18   -5.88e-01
2022-05-19   -5.42e-01
2022-05-20   -1.11e+00
2022-05-23   -6.87e-01
2022-05-24    9.36e-01
2022-05-25    2.78e-01
2022-05-26   -4.00e-01
2022-05-27   -1.37e+00
2022-05-30    3.82e-01
2022-05-31   -3.50e-01
2022-06-01   -5.95e-02
2022-06-02   -2.02e-01
2022-06-03   -1.85e+00
2022-06-06   -6.76e-01
2022-06-07   -1.17e+00
2022-06-08   -4.57e-01
2022-06-09    3.21e-01
2022-06-10    5.47e-01
2022-06-13    4.47e-01
2022-06-14   -8.61e-01
2022-06-15   -2.58e-01
2022-06-16   -2.34e-02
2022-06-17   -4.11e-01
2022-06-20    1.80e+00
2022-06-21   -9.31e-01
2022-06-22    1.06e+00
2022-06-23    7.92e-01
2022-06-24   -4.42e-02
2022-06-27   -2.04e+00
2022-06-28   -5.63e-01
2022-06-29    1.03e+00
2022-06-30    3.59e-01
2022-07-01   -9.19e-01
2022-07-04   -2.32e+00
2022-07-05   -3.30e-03
2022-07-06   -1.51e+00
2022-07-07   -1.15e+00
2022-07-08    3.43e-01
2022-07-11   -7.68e-01
2022-07-12    3.56e-01
2022-07-13   -3.49e+00
2022-07-14   -2.39e+00
2022-07-15    9.28e-01
2022-07-18   -5.34e-02
2022-07-19    2.08e-01
2022-07-20   -3.06e-01
2022-07-21   -2.68e-01
2022-07-22   -1.93e-01
2022-07-25    3.80e-01
2022-07-26    1.65e-02
2022-07-27    7.43e-01
2022-07-28    5.51e-01
2022-07-29    7.47e-01
2022-08-01    8.07e-01
2022-08-02   -9.06e-01
2022-08-03   -4.51e-01
2022-08-04   -3.78e-01
2022-08-05    4.88e-01
2022-08-08    1.03e+00
2022-08-09   -2.87e-01
2022-08-10   -2.15e+00
2022-08-11    5.70e-03
2022-08-12   -5.22e-01
2022-08-15   -9.05e-01
2022-08-16   -4.11e-01
2022-08-17   -7.20e-01
2022-08-18   -4.67e-01
2022-08-19   -2.67e-01
2022-08-22    1.82e-01
2022-08-23   -2.04e+00
2022-08-24   -6.82e-01
2022-08-25    7.20e-01
2022-08-26    5.01e-01
2022-08-29    1.12e+00
2022-08-30    4.15e-01
2022-08-31   -1.02e+00
2022-09-01    1.01e+00
2022-09-02    1.09e-01
2022-09-05    9.64e-02
2022-09-06   -2.22e-01
2022-09-07    1.71e-01
2022-09-08    1.65e+00
2022-09-09   -2.11e+00
2022-09-12    2.42e-01
2022-09-13    8.17e-01
2022-09-14   -4.23e-01
2022-09-15   -8.51e-01
2022-09-16    7.37e-02
2022-09-19   -6.78e-02
2022-09-20   -1.26e-01
2022-09-21    1.05e+00
2022-09-22    6.12e-01
2022-09-23    7.85e-01
2022-09-26    7.98e-01
2022-09-27   -1.85e+00
2022-09-28    1.01e+00
2022-09-29    6.30e-01
2022-09-30   -3.71e-01
2022-10-03   -2.33e-01
2022-10-04   -1.42e+00
2022-10-05   -4.60e-01
2022-10-06    1.87e+00
2022-10-07   -5.56e-02
2022-10-10    2.16e-01
2022-10-11   -7.38e-01
2022-10-12   -6.23e-01
2022-10-13   -8.48e-01
2022-10-14    2.09e+00
2022-10-17   -6.27e-01
2022-10-18   -4.67e-01
2022-10-19   -7.83e-02
2022-10-20    4.56e-01
2022-10-21   -1.30e+00
2022-10-24    9.79e-01
2022-10-25    7.04e-01
2022-10-26    5.85e-02
2022-10-27   -1.20e+00
2022-10-28    1.96e-01
2022-10-31   -5.55e-02
2022-11-01   -2.68e+00
2022-11-02    3.97e-01
2022-11-03   -1.11e+00
2022-11-04    1.19e-01
2022-11-07    2.66e-01
2022-11-08   -5.10e-01
2022-11-09    2.12e-02
2022-11-10   -6.22e-02
2022-11-11   -1.82e-01
2022-11-14    9.44e-01
2022-11-15   -1.71e-01
2022-11-16   -3.95e-01
2022-11-17    1.85e+00
2022-11-18   -1.13e+00
2022-11-21   -2.52e+00
2022-11-22    1.78e-01
2022-11-23    4.92e-01
2022-11-24   -1.28e+00
2022-11-25    1.18e+00
2022-11-28    1.59e+00
2022-11-29   -1.26e+00
2022-11-30   -1.21e-01
2022-12-01    1.08e-01
2022-12-02    2.68e-01
2022-12-05    6.82e-01
2022-12-06    1.26e+00
2022-12-07    1.41e+00
2022-12-08    9.71e-01
2022-12-09   -7.70e-01
2022-12-12   -7.24e-02
2022-12-13    4.04e-01
2022-12-14    4.50e-02
2022-12-15    2.19e+00
2022-12-16   -3.91e-01
2022-12-19    8.91e-01
2022-12-20   -4.98e-01
2022-12-21   -1.34e+00
2022-12-22   -9.02e-01
2022-12-23   -1.24e-01
2022-12-26   -2.18e-02
2022-12-27   -6.16e-01
2022-12-28    9.61e-01
2022-12-29    1.03e+00
2022-12-30   -3.50e-01
Freq: B, dtype: float64

In [42]:
for value in ts:
    print(value)

0.7378419954031566
-1.6001956301560334
0.29619811492582976
-0.7548011145190191
-0.30936192692618864
-1.5527383574945635
1.6658879849017847
-1.6849152228165876
1.3924371669740983
-0.09025444439196346
-0.9761042219995802
0.8344808333989452
1.3997409506241165
0.07739786829478416
0.12220268449997712
-0.2605832191766817
-0.020891708546271873
0.07276293385666244
0.10809097453525428
-0.8274051222126795
-0.8562819406742406
-0.20074634959158194
-0.9783463291052805
-0.5830775062201504
-1.2346856603973153
1.0956119451763395
0.40682286260189365
0.3424257610929548
1.8340316081929902
-0.5208007922077216
-0.44620745139212303
-0.47078063684482274
-0.22763466377018612
-0.9146998732862563
-0.19657939622279375
-0.24902246733242986
1.2469474958470603
0.12580922868708366
-0.8231458722480252
-0.513226120613669
-0.2885837910810507
-1.8696442279073813
-0.39390359145994147
0.22222147486044083
-0.010870010702883386
0.032466328444181305
0.20393501958280186
-0.7429556061238792
2.2671133289023833
0.6004676360907051
-0.7660421956880099
-0.6059656117768529
-1.0148268827392417
0.5703365185818993
-0.8388075809864856
-0.25488239318510275
-0.7726884403432228
-0.6284368907448153
0.4922744147585823
-1.467483107546434
0.05466903242743372
1.4272713222601132
0.8013376849849219
-1.006970352291227
1.3116440293550808
-0.5243057480067174
0.766235348521794
-0.021332727730423908
1.0840833021948026
0.7036653231450282
2.135810732563436
0.6999499656457246
-1.296010440311834
-0.726985475859972
0.34091967148294566
-0.5661392949445374
0.13136310076972244
0.7360621257911879
0.28476134954488724
1.2548982877284354
0.18253024661490516
0.3178496616686923
0.476783219882882
-0.6623726657814657
1.1449853219250887
0.3853014089530763
1.0139515290150156
-1.0836553359225032
0.867162484032005
0.961930133937193
0.9233002053794143
-0.11459135404407529
-0.1884340922413369
-0.07555749968826073
1.3005864768364745
2.121259115282499
1.564722170378899
-0.5883641458672316
-0.5417834685034345
-1.112676370528623
-0.6865084891836802
0.9356152469571972
0.2777763461086211
-0.3999048382671468
-1.365250848737522
0.38187243459894543
-0.34997853585950867
-0.059532713614846806
-0.20212614278750413
-1.8477243537742352
-0.6756981607043682
-1.1663018771736533
-0.45734337685994647
0.3213832548920603
0.5469969905708856
0.44717400460573914
-0.8611069223580354
-0.2579704498411931
-0.023378633105087022
-0.4108292702368778
1.7991088024414756
-0.9314149422828242
1.0579885624043195
0.791955768995237
-0.04422931317186301
-2.042555091038207
-0.5628030563706713
1.0288355560981637
0.3587496910083821
-0.9190226377041165
-2.316094400539417
-0.003300738807294306
-1.5096492837522395
-1.1487756728961507
0.34348891228330797
-0.7681763366028277
0.3560760853032425
-3.494646620203049
-2.388161653497418
0.9283113341361591
-0.05343382435649555
0.2083397366106572
-0.30635167970514626
-0.2679251082453539
-0.1930249787504925
0.37965058528573287
0.016544688572996107
0.7426944633256728
0.5511158664796821
0.7465354497872454
0.8065471625538513
-0.9061495918027849
-0.45085365587482734
-0.377507275086149
0.4878932577341895
1.0261759546344473
-0.28703253756943103
-2.150041814184137
0.005702341978996938
-0.5217549631479698
-0.9050971977064576
-0.4111788248684052
-0.7203803225956619
-0.4668404093127756
-0.2668015853410056
0.18195655658671536
-2.037838964316915
-0.6822676024493602
0.719960400538768
0.5014127786047474
1.1209077857704322
0.4153258653043384
-1.0227028993397531
1.0101536637291106
0.10923504061698282
0.09640809667971657
-0.22242796063070716
0.17140735496274967
1.6514628630949326
-2.1067281373847813
0.24227260354749616
0.8166881697003736
-0.4228849886108779
-0.8510103044908781
0.07370116428703938
-0.06782015887858067
-0.12559736298901736
1.0489836991473611
0.6123399468545031
0.7853832534707369
0.7980092705939564
-1.849694247019765
1.0134462638706245
0.6298192738849423
-0.37119243659197293
-0.232855042313288
-1.4200733111521953
-0.46001108903430293
1.8719617322578301
-0.055600898497672434
0.21586874876535464
-0.7382008758972934
-0.6229442107339335
-0.8483352740559232
2.089973563649357
-0.6268002769322091
-0.46659180516200804
-0.07833782726004423
0.45640399175510493
-1.2959557236998716
0.9785389001587665
0.704418517584097
0.05846421257466083
-1.20034082083439
0.19616545355421391
-0.055526825763973206
-2.6757760469134855
0.39717661630129725
-1.1061544590120411
0.11923362611440619
0.2656306451569334
-0.5101120003225487
0.021162377720995253
-0.06220658305580914
-0.18217175318860843
0.9437423898734293
-0.17107761490146903
-0.39548789102379983
1.8490875698078637
-1.128515080161739
-2.5234451632907464
0.1777610495584046
0.49158662151526433
-1.2797353996746126
1.1821393750327385
1.594781097639847
-1.2642636631944473
-0.12104260371584274
0.10823454113469078
0.26805280601039205
0.6819254650464777
1.2571336367845254
1.4052421929386996
0.97060385203738
-0.7702421509637755
-0.07237562150123723
0.4035487048889086
0.04501071093561243
2.192695717891053
-0.39050383508857206
0.8909528605505658
-0.4983135306180286
-1.3428725700975663
-0.9021908694945762
-0.12415083724499426
-0.02184418503836583
-0.6158916541226561
0.9607162678298187
1.0312602705621592
-0.3499354592026491

In [49]:
# Select
sel_date = ts['2022-03-21']
sel_mon = ts['2022-04'].head()
sel_yea = ts['2022'].head()

print(sel_date)
print()
print(sel_mon)
print()
print(sel_yea)

-0.25488239318510275

2022-04-01    1.31
2022-04-04   -0.52
2022-04-05    0.77
2022-04-06   -0.02
2022-04-07    1.08
Freq: B, dtype: float64

2022-01-03    0.74
2022-01-04   -1.60
2022-01-05    0.30
2022-01-06   -0.75
2022-01-07   -0.31
Freq: B, dtype: float64

Leading and lagging are concepts used in time series analysis to look at relationships between the current value of a time series and past or future values.

+ Leading indicators are used to predict changes before they happen.
+ Lagging indicators are used to predict changes after they happen, like shifting the time series backwards in time. 
    + A lagged time series is a delayed version of the original series.

In [53]:
ts2k_jan = ts['2022-01'].copy()
ts2k_jan

2022-01-03    0.74
2022-01-04   -1.60
2022-01-05    0.30
2022-01-06   -0.75
2022-01-07   -0.31
2022-01-10   -1.55
2022-01-11    1.67
2022-01-12   -1.68
2022-01-13    1.39
2022-01-14   -0.09
2022-01-17   -0.98
2022-01-18    0.83
2022-01-19    1.40
2022-01-20    0.08
2022-01-21    0.12
2022-01-24   -0.26
2022-01-25   -0.02
2022-01-26    0.07
2022-01-27    0.11
2022-01-28   -0.83
2022-01-31   -0.86
Freq: B, dtype: float64

In [55]:
lags = ts2k_jan.shift(1)
lags

2022-01-03     NaN
2022-01-04    0.74
2022-01-05   -1.60
2022-01-06    0.30
2022-01-07   -0.75
2022-01-10   -0.31
2022-01-11   -1.55
2022-01-12    1.67
2022-01-13   -1.68
2022-01-14    1.39
2022-01-17   -0.09
2022-01-18   -0.98
2022-01-19    0.83
2022-01-20    1.40
2022-01-21    0.08
2022-01-24    0.12
2022-01-25   -0.26
2022-01-26   -0.02
2022-01-27    0.07
2022-01-28    0.11
2022-01-31   -0.83
Freq: B, dtype: float64

In [56]:
leads = ts2k_jan.shift(-1) 
leads

2022-01-03   -1.60
2022-01-04    0.30
2022-01-05   -0.75
2022-01-06   -0.31
2022-01-07   -1.55
2022-01-10    1.67
2022-01-11   -1.68
2022-01-12    1.39
2022-01-13   -0.09
2022-01-14   -0.98
2022-01-17    0.83
2022-01-18    1.40
2022-01-19    0.08
2022-01-20    0.12
2022-01-21   -0.26
2022-01-24   -0.02
2022-01-25    0.07
2022-01-26    0.11
2022-01-27   -0.83
2022-01-28   -0.86
2022-01-31     NaN
Freq: B, dtype: float64

In [54]:
# Lag => Show first and last few rows
ts2k_jan.shift(1).iloc[[0, 1, 2, -2, -1]]

2022-01-03     NaN
2022-01-04    0.74
2022-01-05   -1.60
2022-01-28    0.11
2022-01-31   -0.83
dtype: float64

In [57]:
# Lag with date offset
lags2 = ts2k_jan.shift(2, freq=pd.Timedelta(days=1))
lags2

2022-01-05    0.74
2022-01-06   -1.60
2022-01-07    0.30
2022-01-08   -0.75
2022-01-09   -0.31
2022-01-12   -1.55
2022-01-13    1.67
2022-01-14   -1.68
2022-01-15    1.39
2022-01-16   -0.09
2022-01-19   -0.98
2022-01-20    0.83
2022-01-21    1.40
2022-01-22    0.08
2022-01-23    0.12
2022-01-26   -0.26
2022-01-27   -0.02
2022-01-28    0.07
2022-01-29    0.11
2022-01-30   -0.83
2022-02-02   -0.86
dtype: float64

In [58]:
# Lag day-to-day percentage change
lag_change = ts2k_jan.pct_change(1)
lag_change

2022-01-03     NaN
2022-01-04   -3.17
2022-01-05   -1.19
2022-01-06   -3.55
2022-01-07   -0.59
2022-01-10    4.02
2022-01-11   -2.07
2022-01-12   -2.01
2022-01-13   -1.83
2022-01-14   -1.06
2022-01-17    9.82
2022-01-18   -1.85
2022-01-19    0.68
2022-01-20   -0.94
2022-01-21    0.58
2022-01-24   -3.13
2022-01-25   -0.92
2022-01-26   -4.48
2022-01-27    0.49
2022-01-28   -8.65
2022-01-31    0.03
Freq: B, dtype: float64

In [60]:
# Correlate series with various lags:
corrs = [ts2k_jan.corr(ts2k_jan.shift(i)) for i in range(1,5)]
corrs

[-0.4471580565650897,
 0.2574152340351504,
 -0.08190493143447103,
 0.15284998614927153]

<h2 style="color:lightcoral"> Example #3 </h2>

In [61]:
# Create Time Series with random values 
ts3 = pd.Timestamp('2023-01-01 00:00')
se3 = pd.Series(10000, index=[ts3])
dts3 = pd.date_range('2023-01-01', '2023-12-31', freq='D')
ts3 = pd.Series(np.random.randn(len(dts3)), index=dts3)
ts3.head()

2023-01-01   -0.52
2023-01-02   -1.42
2023-01-03   -1.08
2023-01-04    0.97
2023-01-05   -0.23
Freq: D, dtype: float64

In [62]:
# Resampling 
ts31 = pd.Series(np.random.randn(len(dts3)), index=dts3)
ts31

2023-01-01    7.00e-02
2023-01-02    1.69e+00
2023-01-03   -1.42e+00
2023-01-04   -8.65e-02
2023-01-05    3.51e-01
2023-01-06    2.48e+00
2023-01-07    6.57e-01
2023-01-08    3.87e-01
2023-01-09    7.11e-01
2023-01-10    2.76e+00
2023-01-11   -2.15e-01
2023-01-12    1.91e-01
2023-01-13    1.31e+00
2023-01-14    7.00e-01
2023-01-15    1.36e+00
2023-01-16   -8.33e-01
2023-01-17    5.63e-01
2023-01-18    5.63e-01
2023-01-19   -6.60e-01
2023-01-20   -4.53e-01
2023-01-21    4.52e-01
2023-01-22    9.53e-01
2023-01-23    6.30e-01
2023-01-24   -7.60e-01
2023-01-25   -5.94e-01
2023-01-26    1.90e+00
2023-01-27    1.18e+00
2023-01-28    2.56e-01
2023-01-29    1.59e-01
2023-01-30   -9.01e-01
2023-01-31   -3.67e-01
2023-02-01   -8.45e-01
2023-02-02    8.63e-01
2023-02-03   -1.69e+00
2023-02-04    2.03e+00
2023-02-05    6.08e-01
2023-02-06    1.06e+00
2023-02-07   -7.66e-01
2023-02-08    1.75e+00
2023-02-09    4.34e-01
2023-02-10    1.54e-01
2023-02-11    1.00e+00
2023-02-12   -2.89e-02
2023-02-13    7.60e-01
2023-02-14   -9.56e-01
2023-02-15    2.34e-01
2023-02-16    1.46e-01
2023-02-17   -3.39e-01
2023-02-18   -8.12e-01
2023-02-19    1.09e+00
2023-02-20    7.10e-01
2023-02-21   -1.09e+00
2023-02-22    1.47e+00
2023-02-23   -3.37e-01
2023-02-24    1.56e+00
2023-02-25   -1.09e+00
2023-02-26    1.37e-01
2023-02-27   -6.54e-01
2023-02-28    8.67e-01
2023-03-01    1.77e-01
2023-03-02   -5.96e-01
2023-03-03   -8.63e-01
2023-03-04   -7.05e-01
2023-03-05   -8.32e-01
2023-03-06    1.08e+00
2023-03-07   -1.94e-01
2023-03-08    2.50e-01
2023-03-09   -7.33e-01
2023-03-10    7.24e-02
2023-03-11   -9.38e-01
2023-03-12    8.69e-02
2023-03-13   -3.70e-02
2023-03-14    1.90e+00
2023-03-15   -3.01e-01
2023-03-16    3.48e-01
2023-03-17   -2.56e-01
2023-03-18    1.56e+00
2023-03-19    1.64e+00
2023-03-20   -1.67e+00
2023-03-21   -2.80e+00
2023-03-22    1.09e+00
2023-03-23    9.33e-01
2023-03-24    1.46e+00
2023-03-25   -4.11e-01
2023-03-26    9.80e-02
2023-03-27    1.92e+00
2023-03-28    3.50e-02
2023-03-29   -2.73e+00
2023-03-30   -1.24e+00
2023-03-31    6.61e-01
2023-04-01   -7.70e-01
2023-04-02    8.61e-01
2023-04-03    7.01e-01
2023-04-04   -1.87e+00
2023-04-05    2.49e-01
2023-04-06    1.75e-01
2023-04-07    8.37e-01
2023-04-08   -7.19e-01
2023-04-09   -1.16e+00
2023-04-10    1.18e+00
2023-04-11    3.52e-02
2023-04-12    5.41e-01
2023-04-13    5.94e-01
2023-04-14    1.78e-01
2023-04-15    1.26e+00
2023-04-16   -1.27e+00
2023-04-17   -4.33e-03
2023-04-18    1.65e-01
2023-04-19    6.88e-01
2023-04-20    4.13e-01
2023-04-21   -1.89e+00
2023-04-22    1.25e+00
2023-04-23    6.96e-01
2023-04-24    1.02e+00
2023-04-25    6.56e-01
2023-04-26    1.22e+00
2023-04-27    2.35e+00
2023-04-28   -2.42e-02
2023-04-29   -4.78e-01
2023-04-30    1.15e+00
2023-05-01   -1.76e-01
2023-05-02    5.39e-01
2023-05-03   -9.16e-02
2023-05-04    1.33e-01
2023-05-05    4.43e-01
2023-05-06    4.01e-01
2023-05-07    8.23e-01
2023-05-08    6.28e-02
2023-05-09    9.34e-01
2023-05-10   -1.56e+00
2023-05-11   -8.70e-01
2023-05-12   -1.30e+00
2023-05-13    1.55e+00
2023-05-14   -2.46e-01
2023-05-15   -9.01e-01
2023-05-16   -7.18e-01
2023-05-17   -1.20e+00
2023-05-18   -1.14e+00
2023-05-19    6.72e-01
2023-05-20   -5.92e-01
2023-05-21   -3.83e-01
2023-05-22    1.30e+00
2023-05-23    8.81e-01
2023-05-24   -7.27e-01
2023-05-25   -1.10e+00
2023-05-26    4.15e-01
2023-05-27   -1.42e+00
2023-05-28    1.42e-01
2023-05-29    4.53e-01
2023-05-30   -3.86e-01
2023-05-31   -2.33e+00
2023-06-01    1.16e+00
2023-06-02   -6.92e-01
2023-06-03    3.67e-01
2023-06-04   -1.01e+00
2023-06-05   -5.39e-02
2023-06-06    3.66e-01
2023-06-07    2.78e-01
2023-06-08    4.71e-02
2023-06-09    6.28e-01
2023-06-10    1.65e+00
2023-06-11   -1.72e+00
2023-06-12    1.56e+00
2023-06-13   -9.43e-01
2023-06-14    4.30e-01
2023-06-15   -1.44e-01
2023-06-16    2.29e+00
2023-06-17    1.53e+00
2023-06-18   -3.98e-01
2023-06-19    1.00e+00
2023-06-20    6.58e-01
2023-06-21   -2.74e-02
2023-06-22    1.30e+00
2023-06-23   -1.40e+00
2023-06-24    7.06e-01
2023-06-25    2.23e+00
2023-06-26   -2.99e-01
2023-06-27   -3.28e-01
2023-06-28   -1.60e+00
2023-06-29    1.69e+00
2023-06-30    1.27e+00
2023-07-01   -8.37e-01
2023-07-02    1.01e+00
2023-07-03    9.47e-03
2023-07-04    2.15e-01
2023-07-05   -3.97e-01
2023-07-06   -3.81e-01
2023-07-07    2.57e-01
2023-07-08   -8.14e-02
2023-07-09    1.97e+00
2023-07-10   -9.45e-01
2023-07-11   -1.77e-01
2023-07-12    6.13e-01
2023-07-13    1.72e+00
2023-07-14    5.34e-01
2023-07-15   -5.38e-02
2023-07-16    3.34e-05
2023-07-17   -4.21e-02
2023-07-18    2.23e+00
2023-07-19    7.34e-01
2023-07-20    1.90e-01
2023-07-21   -1.28e+00
2023-07-22    3.23e-01
2023-07-23    7.26e-01
2023-07-24    5.76e-01
2023-07-25    6.53e-01
2023-07-26   -2.29e-01
2023-07-27    6.21e-01
2023-07-28    6.95e-01
2023-07-29   -7.81e-01
2023-07-30    1.65e+00
2023-07-31   -1.43e+00
2023-08-01    5.34e-01
2023-08-02    4.95e-01
2023-08-03    4.33e-02
2023-08-04    1.74e-01
2023-08-05   -8.01e-01
2023-08-06   -6.11e-01
2023-08-07    2.07e+00
2023-08-08    1.41e+00
2023-08-09   -1.27e-01
2023-08-10    5.80e-01
2023-08-11   -6.96e-01
2023-08-12    7.24e-01
2023-08-13   -4.23e-01
2023-08-14   -3.19e-01
2023-08-15    2.35e-01
2023-08-16    1.97e+00
2023-08-17    9.69e-01
2023-08-18    3.63e-01
2023-08-19    1.00e+00
2023-08-20    9.97e-02
2023-08-21    7.46e-01
2023-08-22   -1.04e+00
2023-08-23   -1.32e+00
2023-08-24   -1.95e-01
2023-08-25    1.16e+00
2023-08-26    1.30e+00
2023-08-27   -1.91e+00
2023-08-28   -9.73e-01
2023-08-29   -1.84e-01
2023-08-30    3.51e-01
2023-08-31    6.03e-01
2023-09-01   -5.43e-01
2023-09-02    3.16e-01
2023-09-03    9.22e-01
2023-09-04    1.19e+00
2023-09-05    1.50e-01
2023-09-06    1.49e-01
2023-09-07    1.03e+00
2023-09-08   -1.30e-01
2023-09-09   -1.10e+00
2023-09-10   -8.94e-01
2023-09-11    1.22e+00
2023-09-12   -2.03e-01
2023-09-13    1.69e-01
2023-09-14    2.89e+00
2023-09-15   -9.90e-01
2023-09-16   -4.02e-01
2023-09-17   -1.03e+00
2023-09-18    4.94e-01
2023-09-19   -6.69e-02
2023-09-20   -5.74e-01
2023-09-21    7.61e-01
2023-09-22    1.80e+00
2023-09-23    8.85e-01
2023-09-24   -1.47e+00
2023-09-25   -1.90e-01
2023-09-26    1.63e+00
2023-09-27    2.81e-01
2023-09-28    1.09e+00
2023-09-29   -1.08e-01
2023-09-30    3.86e-01
2023-10-01   -1.15e+00
2023-10-02    2.98e-02
2023-10-03    2.90e-01
2023-10-04    2.47e-01
2023-10-05   -2.39e-01
2023-10-06   -2.73e-01
2023-10-07   -1.39e-01
2023-10-08   -1.60e-01
2023-10-09   -1.00e-01
2023-10-10    5.39e-01
2023-10-11   -3.84e-01
2023-10-12   -1.05e+00
2023-10-13   -2.83e-01
2023-10-14   -3.24e-02
2023-10-15   -3.73e-01
2023-10-16   -1.96e-02
2023-10-17    5.10e-01
2023-10-18    2.76e+00
2023-10-19   -1.20e+00
2023-10-20    7.23e-01
2023-10-21   -2.30e-01
2023-10-22   -1.70e+00
2023-10-23    5.56e-01
2023-10-24   -9.08e-02
2023-10-25    6.28e-01
2023-10-26    1.83e+00
2023-10-27   -4.23e-02
2023-10-28   -1.14e+00
2023-10-29   -3.07e-01
2023-10-30   -1.44e-01
2023-10-31    1.19e+00
2023-11-01   -1.81e+00
2023-11-02   -1.64e-01
2023-11-03    6.43e-01
2023-11-04   -1.10e+00
2023-11-05    1.20e+00
2023-11-06   -9.45e-01
2023-11-07    6.71e-01
2023-11-08    2.74e-01
2023-11-09   -8.69e-01
2023-11-10    2.02e+00
2023-11-11    1.77e+00
2023-11-12    4.67e-02
2023-11-13    2.49e+00
2023-11-14    1.58e+00
2023-11-15   -2.19e+00
2023-11-16   -2.02e+00
2023-11-17    1.44e+00
2023-11-18   -2.62e-01
2023-11-19    1.27e+00
2023-11-20    8.93e-01
2023-11-21    8.09e-01
2023-11-22    9.33e-01
2023-11-23   -1.28e+00
2023-11-24    9.86e-01
2023-11-25    4.95e-01
2023-11-26   -1.54e-01
2023-11-27   -2.27e-01
2023-11-28   -4.38e-01
2023-11-29    2.02e-01
2023-11-30    3.00e-01
2023-12-01   -4.44e-01
2023-12-02    4.53e-01
2023-12-03   -2.76e-01
2023-12-04    7.66e-01
2023-12-05   -1.13e+00
2023-12-06    1.50e+00
2023-12-07    2.57e+00
2023-12-08   -2.07e+00
2023-12-09    1.43e+00
2023-12-10   -3.24e-01
2023-12-11    1.74e+00
2023-12-12   -5.51e-01
2023-12-13    1.04e+00
2023-12-14    2.87e-01
2023-12-15   -5.54e-01
2023-12-16   -3.36e-01
2023-12-17   -1.20e-01
2023-12-18   -1.74e+00
2023-12-19   -3.10e-01
2023-12-20   -5.02e-01
2023-12-21   -6.53e-01
2023-12-22    1.39e+00
2023-12-23   -5.85e-01
2023-12-24    2.60e+00
2023-12-25    4.19e-01
2023-12-26    9.70e-01
2023-12-27   -4.92e-02
2023-12-28   -1.53e-01
2023-12-29    1.71e+00
2023-12-30   -6.33e-01
2023-12-31   -1.51e+00
Freq: D, dtype: float64

In [70]:
grp3 = ts31.resample('M')

grp3, grp3.mean()

(<pandas.core.resample.DatetimeIndexResampler object at 0x7f39bb940340>,
 2023-01-31    4.20e-01
 2023-02-28    2.25e-01
 2023-03-31   -3.23e-02
 2023-04-30    2.68e-01
 2023-05-31   -2.06e-01
 2023-06-30    3.51e-01
 2023-07-31    2.61e-01
 2023-08-31    2.01e-01
 2023-09-30    2.55e-01
 2023-10-31    7.85e-03
 2023-11-30    2.19e-01
 2023-12-31    1.59e-01
 Freq: M, dtype: float64)

In [71]:
grp3.agg(
    monthly_mean='mean',
    monthly_std='std')

            monthly_mean  monthly_std
2023-01-31      4.20e-01         0.98
2023-02-28      2.25e-01         0.98
2023-03-31     -3.23e-02         1.18
2023-04-30      2.68e-01         0.97
2023-05-31     -2.06e-01         0.92
2023-06-30      3.51e-01         1.09
2023-07-31      2.61e-01         0.88
2023-08-31      2.01e-01         0.93
2023-09-30      2.55e-01         0.97
2023-10-31      7.85e-03         0.88
2023-11-30      2.19e-01         1.19
2023-12-31      1.59e-01         1.17

In [72]:
""" Filling Missing Data """

def make_series_32():
    dts = pd.date_range('2000-01-02', '2000-01-07', freq='D')
    rv = pd.Series(np.random.randn(len(dts)), index=dts)
    rv.iloc[[0, 2, 5]] = np.nan
    return rv

ts32 = make_series_32()
ts32

2000-01-02     NaN
2000-01-03   -0.90
2000-01-04     NaN
2000-01-05    0.66
2000-01-06    0.55
2000-01-07     NaN
Freq: D, dtype: float64

In [78]:
# Filling NaN Data 
ts33_ok = ts32.ffill()
ts33_ok

2000-01-02     NaN
2000-01-03   -0.90
2000-01-04   -0.90
2000-01-05    0.66
2000-01-06    0.55
2000-01-07    0.55
Freq: D, dtype: float64

In [79]:
# Filling NaN Backwards
ts33_ok = ts32.bfill()
ts33_ok

2000-01-02   -0.90
2000-01-03   -0.90
2000-01-04    0.66
2000-01-05    0.66
2000-01-06    0.55
2000-01-07     NaN
Freq: D, dtype: float64

In [ ]:
# Filling specifying limits
def make_series_35():
    dts = pd.date_range('2000-01-01', '2000-01-05', freq='D')
    rv = pd.Series(np.random.randn(len(dts)), index=dts)
    rv[1:] = np.nan
    return rv

ts5 = make_series_35()
ts5

<h2 style="color:lightcoral"> Example #4 </h2>

In [8]:
pd.set_option('display.precision', 2)

In [13]:
# Read csv:
    # "parse_dates" specifies which columns should be parsed as datetime objects.
    # "usecols" specifies a subset of columns to load from the CSV. 
df2 = pd.read_csv('./data_pandas/speakers.csv', usecols=['date', 'adj_close'], parse_dates=['date'])
df2.head(20)

         date  adj_close
0  2016-04-12    2061.72
1  2016-04-11    2041.99
2  2016-04-08    2047.60
3  2016-04-07    2041.91
4  2016-04-06    2066.66
5  2016-04-05    2045.17
6  2016-04-04    2066.13
7  2016-04-01    2072.78
8  2016-03-31    2059.74
9  2016-03-30    2063.95
10 2016-03-29    2055.01
11 2016-03-28    2037.05
12 2016-03-24    2035.94
13 2016-03-23    2036.71
14 2016-03-22    2049.80
15 2016-03-21    2051.60
16 2016-03-18    2049.58
17 2016-03-17    2040.59
18 2016-03-16    2027.22
19 2016-03-15    2015.93

In [14]:
# Create a pandas Timestamp 
pd.Timestamp('2003-04-30 16:00')

Timestamp('2003-04-30 16:00:00')

In [15]:
""" Generate a an Index of 5 calendar days starting on January 1, 2006. """
pd.date_range(start='2006-01-01', periods=5, freq='D')

DatetimeIndex(['2006-01-01', '2006-01-02', '2006-01-03', '2006-01-04',
               '2006-01-05'],
              dtype='datetime64[ns]', freq='D')

In [16]:
""" Get all days of the week starting on January 1, 2006 and ending on January 30, 2006. """
pd.date_range(start='2006-01-01', end='2006-01-30', freq='B')

DatetimeIndex(['2006-01-02', '2006-01-03', '2006-01-04', '2006-01-05',
               '2006-01-06', '2006-01-09', '2006-01-10', '2006-01-11',
               '2006-01-12', '2006-01-13', '2006-01-16', '2006-01-17',
               '2006-01-18', '2006-01-19', '2006-01-20', '2006-01-23',
               '2006-01-24', '2006-01-25', '2006-01-26', '2006-01-27',
               '2006-01-30'],
              dtype='datetime64[ns]', freq='B')

In [25]:
""" Create a Pandas Series named serieA from the adj_close column, using date as the index. """

serieA = pd.Series(df2.adj_close.array, index=df2.date, name='adj_close').sort_index() #n.b. => sort_index()!

type(serieA), serieA.head()

(pandas.core.series.Series,
 date
 1950-01-03    16.66
 1950-01-04    16.85
 1950-01-05    16.93
 1950-01-06    16.98
 1950-01-09    17.08
 Name: adj_close, dtype: float64)

In [19]:
len(serieA)

16676

In [21]:
""" Select January 20, 2006 from serieA. """

selection_way_1 = serieA['19950103'] 
# or
selection_way_2 = serieA['1995-01-03'] 
# or
selection_way_3 = serieA[datetime(1995, 1, 3)] 


selection_way_1, selection_way_2, selection_way_3

(459.109985, 459.109985, 459.109985)

In [22]:
mar_95 = serieA['1995-03']
mar_95

date
1995-03-01    485.65
1995-03-02    485.13
1995-03-03    485.42
1995-03-06    485.63
1995-03-07    482.12
1995-03-08    483.14
1995-03-09    483.16
1995-03-10    489.57
1995-03-13    490.05
1995-03-14    492.89
1995-03-15    491.88
1995-03-16    495.41
1995-03-17    495.52
1995-03-20    496.14
1995-03-21    495.07
1995-03-22    495.67
1995-03-23    495.95
1995-03-24    500.97
1995-03-27    503.20
1995-03-28    503.90
1995-03-29    503.12
1995-03-30    502.22
1995-03-31    500.71
Name: adj_close, dtype: float64

In [24]:
y_95 = serieA['1995']
y_95.head()

date
1995-01-03    459.11
1995-01-04    460.71
1995-01-05    460.34
1995-01-06    460.68
1995-01-09    460.83
Name: adj_close, dtype: float64

In [27]:
""" Calculate the day-over-day percent change in the values. 
shift() data by a specified number of periods.
"""
serie_day = serieA / serieA.shift(1) - 1
serie_day

date
1950-01-03         NaN
1950-01-04    1.14e-02
1950-01-05    4.75e-03
1950-01-06    2.95e-03
1950-01-09    5.89e-03
                ...
2016-04-06    1.05e-02
2016-04-07   -1.20e-02
2016-04-08    2.79e-03
2016-04-11   -2.74e-03
2016-04-12    9.66e-03
Name: adj_close, Length: 16676, dtype: float64

In [29]:
""" Resample the data from daily to monthly  """
serie_mon = serie_day.resample('M').mean()
serie_mon

date
1950-01-31    1.18e-03
1950-02-28    5.63e-04
1950-03-31    1.87e-04
1950-04-30    2.02e-03
1950-05-31    2.05e-03
                ...
2015-12-31   -7.39e-04
2016-01-31   -2.63e-03
2016-02-29   -1.42e-04
2016-03-31    2.93e-03
2016-04-30    1.52e-04
Freq: M, Name: adj_close, Length: 796, dtype: float64